{% load my_tags %}

{% for course in courses.all %}
<li class="nav-header">{{ course.name }}</li>
{% for ps in course.problem_sets.all %}
    <li class="{% if ps.id == problem_set.id %}active{% endif %} {% if not ps.visible %}hidden{% endif %}">
      <a href="{% url "courses.views.problemset_toggle_solution_visibility" ps.id %}" class="status" title="Rešitve so {{ ps.get_solution_visibility_display }}">
        {% if ps.solution_visibility == 'skrite' %}<i class="icon-ban-circle"></i>{% endif %}
        {% if ps.solution_visibility == 'pogojno' %}<i class="icon-remove-circle"></i>{% endif %}
        {% if ps.solution_visibility == 'vidne' %}<i class="icon-ok-circle"></i>{% endif %}
      </a>
      <a href="{% url "courses.views.problemset_toggle_visible" ps.id %}" class="status" rel="tooltip" title="Sklop je {% if ps.visible %}viden{% else %}skrit{% endif %}">
        <i class="icon-eye-{% if ps.visible %}open{% else %}close{% endif %}"></i>
      </a>
      <a href="{% url "admin:courses_problemset_delete" ps.id %}" class="action" title="Pobriši">
        <i class="icon-trash"></i>
      </a>
      <a href="{% url "admin:courses_problemset_change" ps.id %}" class="action" title="Napredno…">
        <i class="icon-cog"></i>
      </a>
      <a href="{% url "courses.views.problemset_move" ps.id -1 %}" class="action" title="Premakni gor">
        <i class="icon-arrow-up"></i>
      </a>
      <a href="{% url "courses.views.problemset_move" ps.id 1 %}" class="action" title="Premakni dol">
        <i class="icon-arrow-down"></i>
      </a>
      <a href="{% url "problem_set" ps.id %}">{{ ps.title }}</a>
    </li>
{% endfor %}
    <li>
    {% include "modal/add_problem_set.html" %}
    <a href="#add-problem-set-{{ course.id }}" data-toggle="modal">+ dodaj sklop</a>
    </li>
{% empty %}
  Preden začnete sestavljati naloge, v <a href="#settings-form" data-toggle="modal" style="display: inline">nastavitvah</a> izberite predmete, pri katerih sodelujete.
{% endfor %}
