{% extends 'base.html' %}

{% block title %}Vpis v predmete{% endblock %}

{% block content %}
      <div class="jumbotron">
	<p>Joj, v noben predmet še nisi vpisan. <br/> Na spodnjem seznamu izberi predmet in se vpiši.
	</p>
      </div> 
	
	<h2>Seznam predmetov<h2>
	<!-- TODO: Seznam predmetov -->
	{% comment %}
TODO: seznam vseh predmetov, v katere je uporabnik vpisan, pod vsakim predmetom seznam zadnjih treh sklopov v predmetu in povezava na seznam vseh sklopov tega predmeta
pod predmeti še povezava na seznam vseh ostalih predmetov
{% endcomment %}
	{% if problems %}
    <ul>
    {% for problem in problems %}
        <li><a href="{% url 'problem_detail' problem.id %}" target="blank">{{ problem.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Ni nobenih nalog za prikaz.</p>
{% endif %}
{% endblock %} {# content #}
