{% load i18n %}

<form action="{% url 'problem_delete' problem.id %}"  method="post" id='delete_problem_form'>
	{% csrf_token %}

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    {# Translators: Title of problem delete confirmation page. Brisanje naloge#}
	    <h4 class="modal-title">{% trans "Delete problem" %} {{ problem.title }}</h4>
	</div>
	<div class="modal-body">
		{# Translators: Translators: Text of problem delete confirmation page. Ste prepričani, da želite pobrisati nalogo#}
		{% trans "Are you sure you want to delete problem" %} <em>{{ object.title }}</em>?	
				            
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary btn-large">
    		{% trans "Yes" %}
    	</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
	</div>
</form>	