{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.instance.pk %}
  	{# Translators: Title of editing form for problems. #}
    {% trans "Edit problem" %} <em>{{ form.instance.title }}</em>
  {% else %}
  	{# Translators: Title of 'add new problem' form. #}
    {% trans "Add new problem" %} <em>{{ problem_set.title }}</em>
  {% endif %}
{% endblock %}

{% block content %}
  <form action="" method="post">
	 {{ form.as_p }}
	 
	 {% csrf_token %}
	{% if form.instance.pk %}
    <button type="submit" class="btn btn-primary">
    	{# Translators: edit problem form button. #}
    	{% trans "Edit" %}
    </button>
    {% else %}
    <button type="submit" class="btn btn-primary">
    	{# Translators: add new problem form button. #}
    	{% trans "Add" %}
   	</button>
  {% endif %}
  </form>
  
{% endblock %}
