{% extends 'base.html' %}

{% block title %}Rešitve{% endblock %}

{% block content %}

{% comment %}
TODO: tabela resitev: na levi ucenceve, na desni uradne
{% endcomment %}

  <div class="table-responsive">          
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Vaše rešitve</th>
            <th>Uradne rešitve</th>
          </tr>
        </thead>
        <tbody>
        {% for part, attempt in part_attempt.items %}
          <tr>
            <td colspan="2">podnaloga {{ forloop.counter }}</td>          
          </tr>
          <tr>
          {% if attempt == 0 %}
              <td>Tega dela naloge še nisi poskusil reševati.</td>
              <td>Tega dela naloge še nisi pravilno rešil, zato uradna rešitev ni prikazana.</td>
          {% elif not attempt.valid %}
              <td>{{ attempt.solution|latex_markdown }}</td>
              <td>Tega dela naloge še nisi pravilno rešil, zato uradna rešitev ni prikazana.</td>
          {% else %}
             <td>{{ attempt.solution|latex_markdown }}</td>
             <td>{{ part.solution|latex_markdown }}</td>
          {% endif %}
          </tr>
	    {% endfor %}
        </tbody>
      </table>
      </div>

{% endblock %} {# content #}