{% extends 'base.html' %}

{% block title %}Rešitve{% endblock %}

{% block content %}

{% comment %}
TODO: tabela resitev: na levi ucenceve, na desni uradne
{% endcomment %}


<div class="panel panel-default">
 	<!-- Default panel contents -->
 	<div class="panel-heading">
 		<div class="row">
			<div class="col-xs-6"><p>Vaša rešitev</p></div>
			<div class="col-xs-6"><p>Uradna rešitev</p></div>
  		</div>
  	</div>

  	<ul class="list-group">
		{% for part, attempt in part_attempt.items %}
		<li class="list-group-item">
			<div class="row">
				<div class="col-xs-12"><p>{{ forloop.counter }}. podnaloga</p></div>
			</div>
		    <div class="row">
		    	{% if attempt.count == 0 %}
		        <div class="col-xs-6">Tega dela naloge še nisi poskusil reševati.</div>
		        <div class="col-xs-6">Tega dela naloge še nisi pravilno rešil, zato uradna rešitev ni prikazana.</div>
		     	{% elif not attempt.0.valid %}
		        <div class="col-xs-6"><pre><code>{{ attempt.0.solution }}</code></pre></div>
		        <div class="col-xs-6">Tega dela naloge še nisi pravilno rešil, zato uradna rešitev ni prikazana.</div>
		    	{% else %}
		        <div class="col-xs-6"><pre><code>{{ attempt.0.solution }}</code></pre></div>
		        <div class="col-xs-6"><pre><code>{{ part.solution }}</code></pre></div>
		     	{% endif %}
		     </div>
		</li>
    	{% endfor %}
  	</ul>
</div>


{% endblock %} {# content #}