{% extends 'base.html' %} {# {% load bootstrap3 %} #}

{% block title %}Dobrodošli!{% endblock %}

{% block content %}
      <div class="jumbotron">
	<h1>Pozdravljeni!</h1>
	<p>Tomo je vaš osebni učitelj programiranja. Učite se tako, da na svojem računalniku rešujete naloge, 
	   Tomo pa vas ves čas obvešča o poteku reševanja. 
	</p>
      </div> <!-- End jumbotron -->
    
    
    <!-- vnos uporabniškega imena in gesla -->
    {{ form.non_field_errors }}
    <form role="form" action="/problems/welcome/"method="post" class="form-horizontal">
    	{% csrf_token %}
        <div class="form-group fieldWrapper">
	          <label for="{{ form.username.id_for_label }}" class="col-sm-2 control-label">Uporabniško ime:</label>
		      <div class="col-sm-10"> 
                {# {% bootstrap_field form.username %} #}
                {{ form.username }}
              </div>    
        </div>
        <div class="form-group fieldWrapper">
	          <label for="{{ form.password.id_for_label }}" class="col-sm-2 control-label">Geslo:</label>
	          <div class="col-sm-10">
                  {# {% bootstrap_field form.password %} #}
                  {{ form.password }}
              </div> 
        </div>
        
        <button type="submit" class="btn btn-default">Prijavite se</button>
      </form>
{% endblock %} {# content #}
  