<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "si.www.projekt-tomo.si.onlineviewer"
        version   = "1.0">

    <name>Projekt Tomo</name>

    <description>
        Your personal programming teacher / Vaš osebni učitelj programiranja
    </description>

    <author href="https://www.fmf.uni-lj.si" email="info@projekt-tomo.si">
        Faculty of Mathematics and Physics
    </author>

    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="3.7.0" />

    <icon gap:platform="ios" src="res/icon/ios/icon-small.png" width="29" height="29" />
    <icon gap:platform="ios" src="res/icon/ios/icon-small_2x.png" width="58" height="58" />
    <icon gap:platform="ios" src="res/icon/ios/icon-40.png" width="40" height="40" />
    <icon gap:platform="ios" src="res/icon/ios/icon-40_2x.png" width="80" height="80" />
    <icon gap:platform="ios" src="res/icon/ios/icon-50.png" width="50" height="50" />
    <icon gap:platform="ios" src="res/icon/ios/icon-50_2x.png" width="100" height="100" />
    <icon gap:platform="ios" src="res/icon/ios/icon.png" width="57" height="57" />
    <icon gap:platform="ios" hsrc="res/icon/ios/icon_2x.png" width="114" eight="114" />
    <icon gap:platform="ios" src="res/icon/ios/icon-60.png" width="60" height="60" />
    <icon gap:platform="ios" src="res/icon/ios/icon-60_2x.png" width="120" height="120" />
    <icon gap:platform="ios" src="res/icon/ios/icon-60_3x.png" width="180" height="180" />
    <icon gap:platform="ios" src="res/icon/ios/icon-72.png" width="72" height="72" />
    <icon gap:platform="ios" src="res/icon/ios/icon-72_2x.png" width="144" height="144" />
    <icon gap:platform="ios" src="res/icon/ios/icon-76.png" width="76" height="76" />
    <icon gap:platform="ios" src="res/icon/ios/icon-76_2x.png" width="152" height="152" />

    <gap:splash gap:platform="ios" src="res/screen/ios/Default.png" width="320" height="480" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default_2x.png" width="640" height="960" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-568h_2x.png" width="640" height="1136" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-667h_2x.png" width="750" height="1334" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-Portrait-736h_3x.png" width="1242" height="2208" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-Portrait.png" width="768" height="1024" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-Portrait_2x.png" width="1536" height="2048" />

    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/ldpi.png"/>
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/mdpi.png"/>
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/hdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/xhdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/android/xxhdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>

    <gap:splash gap:platform="android" gap:qualifier="ldpi" src="res/screen/android/ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="mdpi" src="res/screen/android/mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="hdpi" src="res/screen/android/hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="xhdpi" src="res/screen/android/xhdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="xxhdpi" src="res/screen/android/xxhdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="xxxhdpi" src="res/screen/android/xxxhdpi-portrait.png" />

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <access origin="https://www.projekt-tomo.si" />

</widget>
