<?xml version='1.0' encoding='utf-8'?>
<widget id="si.projekttomo.mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Projekt Tomo</name>
    <description>
        Your personal programming teacher / Vaš osebni učitelj programiranja
    </description>
    <author email="info@projekt-tomo.si" href="https://www.fmf.uni-lj.si">
        Faculty of Mathematics and Physics
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <icon src="icon.png" />
    <icon gap:platform="ios" src="res/icon/ios/icon-small.png" width="29" height="29" />
    <icon gap:platform="ios" src="res/icon/ios/icon-small_2x.png" width="58" height="58" />
    <icon gap:platform="ios" src="res/icon/ios/icon-40.png" width="40" height="40" />
    <icon gap:platform="ios" src="res/icon/ios/icon-40_2x.png" width="80" height="80" />
    <icon gap:platform="ios" src="res/icon/ios/icon-50.png" width="50" height="50" />
    <icon gap:platform="ios" src="res/icon/ios/icon-50_2x.png" width="100" height="100" />
    <icon gap:platform="ios" src="res/icon/ios/icon.png" width="57" height="57" />
    <icon gap:platform="ios" hsrc="res/icon/ios/icon_2x.png" width="114" eight="114" />
    <icon gap:platform="ios" src="res/icon/ios/icon-60.png" width="60" height="60" />
    <icon gap:platform="ios" src="res/icon/ios/icon-60_2x.png" width="120" height="120" />
    <icon gap:platform="ios" src="res/icon/ios/icon-60_3x.png" width="180" height="180" />
    <icon gap:platform="ios" src="res/icon/ios/icon-72.png" width="72" height="72" />
    <icon gap:platform="ios" src="res/icon/ios/icon-72_2x.png" width="144" height="144" />
    <icon gap:platform="ios" src="res/icon/ios/icon-76.png" width="76" height="76" />
    <icon gap:platform="ios" src="res/icon/ios/icon-76_2x.png" width="152" height="152" />

    <gap:splash gap:platform="ios" src="res/screen/ios/Default.png" width="320" height="480" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default_2x.png" width="640" height="960" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-568h_2x.png" width="640" height="1136" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-667h_2x.png" width="750" height="1334" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-Portrait-736h_3x.png" width="1242" height="2208" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-Portrait.png" width="768" height="1024" />
    <gap:splash gap:platform="ios" src="res/screen/ios/Default-Portrait_2x.png" width="1536" height="2048" />

    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/ldpi.png"/>
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/mdpi.png"/>
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/hdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/xhdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/android/xxhdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>

    <gap:splash gap:platform="android" gap:qualifier="ldpi" src="res/screen/android/ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="mdpi" src="res/screen/android/mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="hdpi" src="res/screen/android/hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="xhdpi" src="res/screen/android/xhdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="xxhdpi" src="res/screen/android/xxhdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="xxxhdpi" src="res/screen/android/xxxhdpi-portrait.png" />

    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
