<div class="modal fade" id="anonymous-download-problem-{{ problem.id }}">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>
      {{ problem.title }}
    </h3>
  </div>

  <div class="modal-body">
    <p>
      Če se ne morete prijaviti, lahko naloge rešujete z začasnimi datotekami.
      V tem primeru se vaše rešitve <strong>ne bodo shranile na strežnik</strong>.
      Ko se boste lahko spet prijavili, boste naloge morali ponovno prenesti ter vanje prepisati začasne rešitve.
    </p>
  </div>

  <div class="modal-footer">
    <a href="{% url student_download problem.id %}" class="btn btn-secondary"><i class="icon-check"></i> Reši nalogo</a>
  </div>
</div>
