{% if user.is_authenticated %}
  {% if request.user.is_staff %}
  <a href=""><button class="btn primary">Uredi</button></a>
  <a href="{% url download_problem_set problem_set.id %}"><button class="btn">Reši</button></a>
  <a href="{% url view_statistics problem_set.id %}"><button class="btn">Statistika</button></a>
  <a href="{% url admin:tomo_problemset_delete problem_set.id %}"><button class="btn danger">Pobriši</button></a>
  <a href="{% url admin:tomo_problemset_change problem_set.id %}"><button class="btn">Napredno…</button></a>
  {% else %}
  <a href="{% url download_problem_set problem_set.id %}"><button class="btn primary">Reši</button></a>
  {% endif %}
{% else %}
  <div id="modal-from-dom" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>Za reševanje se najprej prijavite.</h3>
    </div>
    <div class="modal-body">
      <p>
        Če se ne morete prijaviti, lahko naloge rešujete z začasnimi datotekami.
        V tem primeru se vaše rešitve <strong>ne bodo shranile na strežnik</strong>.
        Ko se boste lahko spet prijavili, boste naloge morali ponovno prenesti ter vanje prepisati začasne rešitve.
      </p>
    </div>
    <div class="modal-footer">
      <a href="{% url download_problem_set problem_set.id %}" class="btn secondary">Prenesite začasne datoteke</a>
    </div>
  </div>

  <button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn primary">Reši</button>
{% endif %}
