{% extends 'core.html' %}
{% load my_tags %}

{% block body %}
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{% url "homepage" %}">Tomo{% if debug %} – razvojna različica{% endif %}</a>
          {% if user.is_authenticated %}
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "settings" %}">Nastavitve</a></li>
                <li class="divider"></li>
                <li><a href="{% url "django.contrib.auth.views.logout" %}">Odjavite se</a></li>
              </ul>
            </li>
          </ul>
          {% else %}
            <form method='post' action="{% url "django.contrib.auth.views.login" %}" class="navbar-form pull-right">
              {% csrf_token %}
              <input class="input-small" id="id_username" name="username" type="text" placeholder="KovacM">
              <input class="input-small" id="id_password" name="password" type="password" placeholder="Triglav.1">
              <input type='hidden' name='next' value='{{ next|default:request.path }}' >
              <button class="btn" type="submit">Prijavite se</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div id="sidebar" class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% with user.taught_courses.all as taught %}
              {% for course in courses.all %}
              {% if course in taught %}
                {% include 'sidebar/teacher.html' %}
              {% else %}
                {% include 'sidebar/student.html' %}
              {% endif %}
              {% empty %}
                Preden začnete reševati naloge, v <a href="#settings-form" data-toggle="modal" style="display: inline">nastavitvah</a> izberite predmete, pri katerih sodelujete.
              {% endfor %}
              {% endwith %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div id="contents" class="span9">
          {% if form.errors %}
            <div class="alert alert-error fade in" data-alert="alert" >
              <h4 class="alert-heading alert-error">Napaka ob prijavi!</h4>
              Uporabite enako uporabniško ime in geslo kot ju na študentskih računalnikih, na primer <code>KovacM</code> in <code>Triglav.1</code>.
            </div>
          {% endif %}

          {% block content %}
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>Tomo ponosno uporablja
          <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> in
          <a href="http://www.mathjax.org/">MathJax</a>.
        <p>
        <p>&copy; Andrej Bauer, Matija Pretnar 2013</p>
      </footer>
    
    {% if user.is_authenticated %}
    {% endif %}

    </div><!--/.fluid-container-->
{% endblock body %}
