{% extends 'base.html' %}

{% block title %}
  Tomo
{% endblock %}

{% block content %}
  <div class="hero-unit">
    <h1>Pozdravljeni!</h1>
    <p>
      Tomo je vaš osebni učitelj programiranja.
      Učite se tako, da na svojem računalniku rešujete naloge, Tomo pa vas ves čas obvešča o poteku reševanja.
    </p>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <h2>Kako se prijavim?</h2>
      <p>
        Tomo je namenjen študentom Fakultete za matematiko in fiziko Univerze v Ljubljani.
        Prijavite se zgoraj desno in sicer z uporabniškim imenom in geslom, ki ju uporabljate za prijavo na študentske računalnike.
        Vsi ostali lahko naloge še vedno rešujete anonimno, vendar Tomo vaših rešitev ne bodo shranjeval.
      </p>
    </div><!--/span-->
    <div class="span4">
      <h2>Kje so naloge?</h2>
      <p>
        Najprej v <a href="#settings-form" data-toggle="modal">nastavitvah</a> izberite predmete, pri katerih sodelujete.
        Na levi strani boste nato videli sklope nalog, ki so vam namenjeni.
      </p>
    </div><!--/span-->
    <div class="span4">
      <h2>Kako rešujem naloge?</h2>
      <p>
        Datoteko z nalogami, ki vsebuje tudi navodila, naložite na svoj računalnik, jo odprite v ustreznem programskem okolju in vanjo vpisujete rešitve.
        Vsakič, ko datoteko poženete, vas bo Tomo obvestil o pravilnosti rešitev in vaše rešitve tudi shranil.
      </p>
    </div><!--/span-->
  </div><!--/row-->
{% endblock %}
