{% extends 'base.html' %}

{% block title %}
  Tomo
{% endblock %}

{% block content %}
  <div class="hero-unit">
    <h1>Pozdravljeni!</h1>
    <p>
      Tomo je vaš osebni učitelj programiranja.
      Učite se tako, da na svojem računalniku rešujete naloge, Tomo pa vas ves čas obvešča o poteku reševanja.
    </p>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <h2>Kako se prijavim?</h2>
      <p>
        Tomo je namenjen študentom Fakultete za matematiko in fiziko Univerze v Ljubljani.
        Prijavite se zgoraj desno in sicer z uporabniškim imenom in geslom, ki ju uporabljate za prijavo na študentske računalnike.
        Vsi ostali lahko naloge še vedno rešujete anonimno, vendar Tomo vaših rešitev ne bo shranjeval.
      </p>
    </div><!--/span-->
    <div class="span6">
      <h2>Kako rešujem naloge?</h2>
      <p>
        Na levi strani izberete sklop nalog, ki ga želite reševati.
        Datoteko z nalogami, ki vsebuje tudi navodila, naložite na svoj računalnik, jo odprete v ustreznem programskem okolju in vanjo vpisujete rešitve.
        Vsakič, ko datoteko poženete, vas Tomo obvesti o pravilnosti rešitev in vaše rešitve tudi shrani.
      </p>
    </div><!--/span-->
  </div><!--/row-->
{% endblock %}
