{% extends 'core.html' %}
{% load my_tags %}

{% block body %}
<div class="modal" id="anonymous-download-problem-set-{{ problem_set.id }}">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>
      {% block title %}{% endblock title %}
    </h3>
  </div>

  <div class="modal-body">
    {% block contents %}
    <p>
      Če se ne morete prijaviti, lahko naloge rešujete z začasnimi datotekami.
      V tem primeru se vaše rešitve <strong>ne bodo shranile na strežnik</strong>.
      Ko se boste lahko spet prijavili, boste naloge morali ponovno prenesti ter vanje prepisati začasne rešitve.
    </p>
    {% endblock contents %}
  </div>

  <div class="modal-footer">
    {% block footer %}
    <a href="" class="btn btn-secondary"><i class="icon-check"></i> Reši sklop</a>
    {% endblock footer %}
  </div>
</div>
{% endblock body %}
