{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
  Tomo &mdash;
  {{ problem_set.course.name }} &mdash;
  {{ problem_set.title }}
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ problem_set.title }}</h1>

  </div>

  {{ problem_set.description|tex_markdown|safe }}

  {% if teacher %}
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="{% url "problem_set" problem_set.id %}">Naloge</a>
    </li>
    <li>
      <a href="{% url "view_statistics" problem_set.id 120 %}">Statistika</a>
    </li>
  </ul>
  {% endif %}

  {% if teacher %}
    <a href="{% url "teacher_zip" problem_set.id %}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Uredi sklop</a>
    <a href="{% url "student_zip" problem_set.id %}" class="btn"><i class="icon-check"></i> Reši sklop</a>
    <a href="{% url "results_zip" problem_set.id %}" class="btn"><i class="icon-th"></i> Shrani rezultate</a>
  {% else %}
    {% if request.user.is_authenticated %}
      <a href="{% url "student_zip" problem_set.id %}" class="btn btn-primary"><i class="icon-check icon-white"></i> Reši sklop</a>
    {% else %}
      {% include 'modal/anonymous_problem_set.html' %}
      <a href="#anonymous-download-problem-set-{{ problem_set.id }}" data-toggle="modal" class="btn btn-primary"><i class="icon-check icon-white"></i> Reši sklop</a>
    {% endif %}
  {% endif %}

  {% for problem in problems %}
    <hr />
    {% if teacher %}
      {% include 'modal/copy_problem.html' %}
      <h2 id="problem-{{ problem.id }}">
        {{ problem.title }}
        <a class="icon-edit status" href="{% url "teacher_download" problem.id %}" title="Uredi nalogo"></a>
        <a class="icon-check status" href="{% url "student_download" problem.id %}" title="Reši nalogo"></a>
        <a class="icon-cog action" href="{% url "admin:tomo_problem_change" problem.id %}" title="Napredne nastavitve naloge…"></a>
        <a class="icon-trash action" href="{% url "problem_delete" problem.id %}" title="Pobriši nalogo"></a>
        <a class="icon-share-alt action" data-toggle="modal" href="#copy-problem-{{ problem.id }}" title="Kopiraj nalogo"></a>
        <a class="icon-arrow-up action" href="{% url "move_problem" problem.id -1 %}" title="Premakni gor"></a>
        <a class="icon-arrow-down action" href="{% url "move_problem" problem.id 1 %}" title="Premakni dol"></a>
      </h2>
    {% else %}
      <div class="problem">
      <h2 id="problem-{{ problem.id }}">
        {{ problem.title }}
        {% if request.user.is_authenticated %}
          <a class="icon-check status" href="{% url "student_download" problem.id %}" title="Reši nalogo"></a>
        {% else %}
          <a class="icon-check status" href="#anonymous-download-problem-{{ problem.id }}" data-toggle="modal" title="Reši nalogo"></a>
          {% include 'modal/anonymous_problem.html' %}
        {% endif %}
      </h2>
      </div>
    {% endif %}

    {{ problem.description|tex_markdown|safe }}

     {% for part in problem.parts.all %}
      {% with attempts|get:part.id as attempt %}
          {% include 'modal/view_solution.html' %}
          <div class="part">
          <h4>
            <a class="icon-search status" data-toggle="modal" title="Poglejte rešitev" href="#solutions-{{ problem.id }}-{{ part.id }}-{{ user.id }}"></a>
            {% if teacher %}
            <a class="icon-trash action" href="{% url "part_delete" part.id %}" title="Pobriši podnalogo"></a>
            {% endif %}
            Podnaloga {{ forloop.counter }}
            {% if attempt.correct %}
              <span style="vertical-align: top" class="label label-success">rešena</span>
            {% else %}
              <span style="vertical-align: top" class="label label-important">nerešena</span>
            {% endif %}
          </h4>
          <div id="part-{{ part.id }}">
            {{ part.description|tex_markdown|safe }}
          </div>
          </div>
      {% endwith %}
    {% endfor %}
  {% endfor %}

  {% if teacher %}
    <hr />
    {% include "modal/add_problem.html" %}
    <a href="#add-problem" data-toggle="modal"><button class="btn"><i class="icon-plus"></i> Dodaj nalogo</button></a>
  {% endif %}


{% endblock %}
