{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
  Tomo &mdash; {{ problem_set.course.name }} &mdash; {{ problem_set.title }}
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url homepage %}">Začetna stran</a> <span class="divider">/</span></li>
  <li><a href="{% url course problem_set.course.id %}">{{ problem_set.course.name }}</a> <span class="divider">/</span></li>
  <li class="active">{{ problem_set.title }}</li>
{% endblock %}

{% block heading %}
  {{ problem_set.title }}
{% endblock %}

{% block header %}
    {{ problem_set.description|tex_markdown|safe }}

    {% include 'actions/problem_set.html' %}

    {% if not request.user.is_staff %}
    <span class='help-block'>
      Z zgornjim gumbom na svoj računalnik prenesete arhiv, ki vsebuje datoteke z nalogami.<br />
      Navodila za reševanje so zapisana v datotekah.
    </span>
    {% endif %}
{% endblock %}

{% block content %}
    {% for problem in problems.all %}
        {% include 'inline/problem.html' %}
        <div class='row'>
          <div class='span12 offset1'>
            {{ problem.description|tex_markdown|safe }}
          </div>
        </div>
        {% for part in problem.parts.all %}
            {% include 'inline/part.html' %}
          {% with attempts|get:part.id as attempt %}
          {% endwith %}
        {% endfor %}
      <hr />
    {% endfor %}

    {% if request.user.is_staff %}
    <div class='row'>
      <div class='offset1'>
      <h3>Dodaj nalogo</h3>
<form method="post" action="{% url create %}" class="form-stacked">
{% csrf_token %}
        <fieldset>
          <input type="hidden" name="problem_set" value="{{ problem_set.id }}" />
          <div class="clearfix">
            <label for="xlInput3">Naslov</label>
            <div class="input">
              <input size="30" type="text" name="title" />
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="stackedSelect">Jezik</label>
            <div class="input">
  <select name="language" id="language">
        {% for language in languages.all %}
          <option value="{{ language.id }}" {% if language.id == default_language.id %}selected{%endif %}>{{ language.name }}</option>
        {% endfor %}
        </select>
                  </div>
          </div><!-- /clearfix -->
          <button type="submit" class="btn primary">Dodaj</button>
        </fieldset>
      </form>

      </div>
    </div>
    {% endif %}
{% endblock %}

