{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
  Tomo &mdash;
  {{ problem_set.course.name }} &mdash;
  {{ problem_set.title }}
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url homepage %}">Začetna stran</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url course problem_set.course.id %}">{{ problem_set.course.name }}</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    {{ problem_set.title }}
  </li>
{% endblock %}

{% block header %}
  {{ problem_set.title }}
{% endblock %}

{% block description %}
  {{ problem_set.description|tex_markdown|safe }}
{% endblock %}

{% block actions %}
  {% include 'actions/problem_set.html' %}

  {% if not request.user.is_staff %}
  <span class='help-block'>
    Z zgornjim gumbom na svoj računalnik prenesete arhiv, ki vsebuje datoteke z nalogami.<br />
    Navodila za reševanje so zapisana v datotekah.
  </span>
  {% endif %}
{% endblock %}

{% block contents %}
  {% for problem in problems %}
    {% include 'inline/problem.html' %}
  {% endfor %}

  {% if request.user.is_staff %}
    {% include 'forms/add_problem.html' %}
  {% endif %}
{% endblock %}

