{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
  Tomo &mdash;
  {{ problem_set.course.name }} &mdash;
  {{ problem_set.title }} &mdash;
  Statistika
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url homepage %}">Začetna stran</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url course problem_set.course.id %}">{{ problem_set.course.name }}</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url problem_set problem_set.id %}">{{ problem_set.title }}</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Statistika
  </li>
{% endblock %}

{% block header %}
  {{ problem_set.title }} &mdash;
  Statistika
{% endblock %}

{% block contents %}
  {% for problem in problems.all %}
  <h3>
    Naloga {{ forloop.counter }}
    {% if problem.title %} &mdash; {{ problem.title }}{% endif %}
  </h3>

  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        {% for part in problem.parts.all %}
        <th>{{ forloop.counter }})</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% with attempts|get:problem.id as problem_attempts %}
      {% for user, attempts in problem_attempts.items %}
      <tr>
        <td>{{ user.get_full_name }}</td>
        {% for part in problem.parts.all %}
        {% with attempts|get:part.id as attempt %}
          <td>
            {% if attempt %}
              <div id="solutions-{{ problem.id }}-{{ part.id }}" class="modal hide fade" style="width: 700px; margin: -250px 0 0 -352px;">
                <div class="modal-header">
                  <a href="#" class="close">&times;</a>
                  <h3>
                    {{user.get_full_name}}, rešitev naloge {{ forloop.parentloop.counter }}.{{ forloop.counter }})
                  </h3>
                </div>
                <div class="modal-body solution-view">
                  {% if attempt.solution %}
                    <pre><code>{{ attempt.solution }}</code></pre>
                  {% else %}
                    <p>
                      Naloge še ni reševal.
                    </p>
                  {% endif %}
                </div>
              </div>
              <a data-controls-modal="solutions-{{ problem.id }}-{{ part.id }}" data-backdrop="true" data-keyboard="true" href="#">
              <img src="{{ STATIC_URL }}{% if attempt.solution %}{% if attempt.correct %}correct{% else %}incorrect{% endif %}{% else %}missing{% endif %}.png">
              </a>
            {% else %}
              &nbsp;
            {% endif %}
          </td>
        {% endwith %}
        {% endfor %}
      </tr>
      {% endfor %}
      {% endwith %}
    </tbody>
  </table>
  {% endfor %}
{% endblock %}
