{% extends 'modal.html' %}
{% load my_tags %}

{% block title %}
  {% if form.instance.pk %}
    Urejanje naloge <em>{{ form.instance.title }}</em>
  {% else %}
    Dodajanje naloge v sklop <em>{{ problem_set.title }}</em>
  {% endif %}
{% endblock %}

{% block contents %}
  <form action="" method="post">
 {{ form.as_ul }}
{% endblock %}

{% block footer %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">{{ form.instance.pk|yesno:"Uredi,Dodaj" }}</button>
  </form>
{% endblock %}