{% extends 'base.html' %}
{% load i18n %}

{% block navigation-left %}
  <a class="navbar-brand topnav" href="{% url 'course_detail' course.pk %}">{{ course.title }}</a>
  <a class="navbar-brand topnav" href="#">
    	{# Translators: Progress of students in a problem set - heading in navigation #}
    	{% trans "Pregled" %}
    	<span class="sr-only">
    		{# Translators: current page in navigation #}
    		{% trans "(current)" %}
   		</span>
  </a>
{% endblock %}


{% block content %}
<div class="content-section-a tomo-overview-student">
  <div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-stacked" id="sidebar">
            <h3 class='color5'>Kazalo</h3>
            <a href='{% url "statistics_landing_page" course.pk %}'> Začetna stran </a> <br>
            <a href='{% url "statistics_submission_history" course.pk %}'>Zgodovina oddaj </a> <br>
            <a href='{% url "compare_solutions" course.pk %}'> Primerjava rešitev </a> <br>
            <br>
            <br>
            </ul>
        </div>
        {% block statistics_content %} 
        <h3 class='color2'> Opis </h2>
        <p> Na tej strani bodo orodja, ki bodo učitelju omogočala večji vpogled v uspešnost in napredek njegovih učencev. </p>
        <p> Stran se bom tekom časa še dopoljnevala z funkcionalnostmi. V načrtu je več različnih grafov agregiranih po razredu/skupinah/učencu,
        orodje, ki bo omogočalo lep in pregleden način za ugotavljanje plagiatorstva dveh rešitev itd. </p>
        {% endblock %}
    </div>
  </div>
</div>
{% endblock %} {# content #}
