{% extends 'base.html' %}
{% load i18n %}

{% block navigation-left %}
  <a class="navbar-brand topnav" href="{% url 'course_detail' course.pk %}">{{ course.title }}</a>
  <a class="navbar-brand topnav" href="#">
    	{# Translators: Progress of students in a problem set - heading in navigation #}
    	{% trans "Statistics" %}
    	<span class="sr-only">
    		{# Translators: current page in navigation #}
    		{% trans "(current)" %}
   		</span>
  </a>
{% endblock %}


{% block content %}
<div class="content-section-a tomo-overview-student">
  <div class="container">
    <h2>Statistika za predmet {{ course.title }}</h2>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-stacked" id="sidebar">
            <h3 class='color5'>Kazalo</h3>
            <a href='{% url "statistics_landing_page" course.pk %}'> Začetna stran <br>
            <a href='{% url "statistics_submission_history" course.pk %}'>Zgodovina oddaj </a> <br>
            Placeholder 3 <br>
            <br>
            <br>
            </ul>
        </div>
        {% block statistics_content %} {% endblock %}
    </div>
  </div>
</div>
{% endblock %} {# content #}
