{% extends 'statistics/contents.html' %}

{% block statistics_content %}

<div class='col-md-2'>
    <h3 class='color5'>Sklopi nalog</h3>
    {% for problem_set in course.problem_sets.all %}
        <a href="{% url 'statistics_submission_history_problemset' course.pk problem_set.pk %}">{{ problem_set.title }}</a> <br>
    {% endfor %}
</div>
<div class='col-md-7'>
<br>
Zaradi zahtevnosti izračuna statistike in boljše uporabniške izkušnje, se ta stran cachira na vsakih 24 ur. Če hočeš ponovno naložiti stran s svežimi podatki, pritisni CTRL+F5.

<br><br>
Placeholder

</div>
{% endblock %} {# content #}
