{% extends 'statistics/contents.html' %}

{% block statistics_content %}

<div class='col-md-2'>
    <h3 class='color5'>Učenci</h3>
    {% for student in course.observed_students %}
        <a href="{% url 'statistics_user_submission_history' course.pk student.pk %}">{{ student.get_full_name }}</a> <br>
    {% endfor %}
</div>
<div class='col-md-7'>
<br>
Zaradi zahtevnosti izračuna statistike in boljše uporabniške izkušnje, se ta stran cachira na vsakih 24 ur. Če hočeš ponovno naložiti stran s svežimi podatki, pritisni CTRL+F5.

<br><br>
Placeholder

</div>
{% endblock %} {# content #}
