{% extends 'statistics/contents.html' %}

{% block statistics_content %}

<div class='col-md-2'>
    <h3 class='color5'>Učenci</h3>
    {% for student in course.observed_students %}
        <a href="{% url 'statistics_user_submission_history' course.pk student.pk %}">{{ student.get_full_name }}</a> <br>
    {% endfor %}
</div>
<div class='col-md-8'>
<br>
{% for problem_set, problems in history.items %}
    {{ problem_set.title }} <br>
    <div class=row>
        <div class='col-md-2'>
        </div>
        <div class='col-md-7'>
            <br>
            {% for problem, timeline in problems.items %}
                {{ problem.title }} <br>
                <div class='col-md-4'>
                </div>
                <div class='col-md-8'>
                    {% for time, state in timeline %}
                        {{ time }} : 
                        {% for attempt in state %}
                            {% comment %} <a href="{% url 'problem_solution' problem.pk observed_user.pk %}"> {% endcomment %}
                                {% if attempt.valid %}<i class="color5 fa fa-check-circle fa-lg"></i>
                                {% elif attempt %}<i class="color3 fa fa-question-circle fa-lg"></i>
                                {% else %}<i class="color1 fa fa-times-circle fa-lg"></i>
                                {% endif %}
                            {% comment %} </a> {% endcomment %}
                        {% endfor %} <br>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %} {# content #}
