{% extends 'base.html' %}
{% block title %}Tomo - {{ course.title }}{% endblock %}

{% block navigation-left %} 
   	<li><a href="#">Moji predmeti</a></li>
    <li class="active"><a href="#">Ime predmeta <span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				Naslov predmeta
			</h4>
		</div>
	
		<ul class="list-group">
		  <li class="list-group-item"><a href="#"><h5>Sklop 1</h5></a></li>
		  <li class="list-group-item"><a href="#"><h5>Sklop 2</h5></a></li>
		  <li class="list-group-item"><a href="#"><h5>Sklop 3</h5></a></li>
		  <li class="list-group-item"><a href="#"><h5>Sklop 4</h5></a></li>
		  <li class="list-group-item"><a href="#"><h5>Sklop 5</h5></a></li>
		</ul>
	</div>
{% endblock %} {# content #}

