{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Translators: Default heading for pages (defined in base.html) #}
    <title>{% block title %}{% trans "Project Tomo" %}{% endblock %}</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/startbootstrap-landing-page/1.0.4/css/landing-page.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open Sans:300,400,700,300italic,400italic,700italic" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" rel="stylesheet">      
    <link href="{% static 'css/tomo.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  </head>
  <body>
    {% block navigation %}
    <nav class="navbar navbar-default navbar-fixed-top topnav tomo-page-header" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav tomo-home" href="{% url 'homepage' %}"><img src="{% static 'img/logo.svg' %}" alt="Projekt Tomo"></a>
                {% block navigation-left %} 
                {% endblock %} 
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {# Translators: Link for logout in navigation bar (top right) #}
                    <li><a href="{% if user.uses_shibboleth %}/Shibboleth.sso/Logout?return={% else %}{% url 'logout' %}?next={% endif %}{% url 'login' %}">{{ user.get_full_name }} {% trans "(logout)" %}</a></li>
                    <li><a href="{% url 'help' %}"><i class="fa fa-question-circle fa-lg"></i><span class="sr-only">{% trans 'Help' %}</span></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}

    {% block modal %}
  	<div class="modal fade" id="modal" role="dialog" aria-labelledby="modal dialog">  
  	<!--  TODO: change aria-labelledby in javascript that opens modal -->
  	    <div class="modal-dialog" role="document">
  	    	<div class="modal-content" id="modal_content"></div>
  	  	</div>
  	</div>
  	{% endblock %}

    {% block body %}  {% block content %}{% endblock %}  {% endblock %}

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
    <script src="{% static 'js/tomo.js' %}"></script>
    {% block extra_js %}{% endblock %}
    <!-- Footer -->
    <footer>
    {% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <ul class="list-inline">
                        <li><a href="{% url 'help' %}">{% trans 'Help' %}</a></li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="https://github.com/matijapretnar/projekt-tomo">GitHub</a></li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="{% url 'terms_of_service' %}">{% trans 'Terms of service' %}</a></li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="mailto:info@projekt-tomo.si">{% trans 'Contact' %}</a></li>
                    </ul>
                    
                    <p class="copyright text-muted small">{% trans "Copyright &copy; Faculty of Mathematics and Physics, University of Ljubljana, 2015. All Rights Reserved "%}</p>
                </div>
            </div>
        </div>
    {% endblock footer %}
    </footer>
  </body>
</html>
