{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Tomo{% endblock %}

{% block content %}

{% for course in user_courses %}
    <div class="panel panel-default">
        <div class="panel-heading">
        	<div class="row">
			    <div class="col-md-6">
		            <h4>
		                <a href="{% url 'course_detail' course.pk %}">{{ course.title }}</a>
		            </h4>
	            </div>
	            <div class="col-md-6">
	            	<span class="pull-right">
		            	<form action="{% url 'unenroll_from_course' course.pk %}"  method="post" id='unenroll_from_course_form'>
			            	{% csrf_token %}
				            <button class="btn btn-default btn-sm" type="submit" aria-label="Unenroll">
								{% trans "Unenroll" %}
							</button>
							{% if course.show_teacher_forms %}
							<a class="btn btn-primary btn-sm" href="{% url 'course_users' course.pk %}" role="button">
		            			{# Translators: Link to list of course users. #}
			            		{% trans "Browse list of users" %}	
		            		</a>
		            		{% endif %}
						</form>
					</span>
				</div>
        	</div>
   		</div>
        <ul class="list-group">
          {% for problem_set in course.annotated_problem_sets %}
          {% include 'courses/_problem_set.html' %}
          {% endfor %}
          <li class="list-group-item">
          	<a href="{% url 'course_detail' course.pk %}">
          		{# Translators: Link to a page with all problem lists within a course. #}
          		<h5>{% trans "All problem lists" %}</h5>
          	</a>
          </li>
        </ul>
    </div>
{% endfor %}

<p>{% trans "Bellow is a list of courses you are not enrolled in yet. Enroll by clicking on 'Enroll' button." %}</p>

{% for course in not_user_courses %}
    <div class="panel panel-default">
        <div class="panel-heading">
        	<div class="row">
			    <div class="col-md-4">
		            <h4>{{ course.title }}</h4>
		        </div>
	            <div class="col-md-8">
	            	<span class="pull-right">
	            		<form action="{% url 'enroll_in_course' course.pk %}"  method="post" id='enroll_in_course_form'>
	            			{% csrf_token %}
				            <button class="btn btn-default btn-sm" type="submit" aria-label="Enroll">
								{% trans "Enroll" %}
							</button>
						</form>
					</span>
				</div>
			</div>
			{{ course.description }}
        </div>
    </div>
{% endfor %}
	
    
    
    
{% endblock content %}
