{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="content-section-a tomo-top-section">
  <div class="container">
    <div class="row">
      {% for course in user_courses %}
        <div class="col-md-6">
          {% include 'courses/_course_header.html' %}
          <ul class="list-group tomo-courses">
          {% for problem_set in course.annotated_problem_sets %}
          {% include 'courses/_problem_set.html' %}
          {% endfor %}
          </ul>
        </div>
        {% cycle '' '</div><div class="row">' %}
      {% empty %}
      <h3>Nimate predmetov</h3>
      <p>Na spodnjem seznamu poiščite želene predmete in jih
         dodajte med svoje s tem, da pritisnete na zvezdico ob imenu.</p>
      {% endfor %}
    </div>
  </div>
</div>


<div class="content-section-y tomo-other">
  <div class="container tomo-other">
    <h2>Ostali predmeti</h2>
      {% regroup not_user_courses by institution as institution_list %}
      {% for institution in institution_list %}
      <a class="hide-courses" data-toggle="collapse" href="#inst-{{ forloop.counter}}" aria-expanded="false" aria-controls="inst-{{ forloop.counter}}">{{ institution.grouper }}</a>
    <div class="row collapse" id="inst-{{ forloop.counter}}">
      {% for course in institution.list %}
      <div class="col-md-4">
        <span class="pull-right">
          <form action="{% url 'enroll_in_course' course.pk %}"
                method="post" id='enroll_in_course_form'>
            {% csrf_token %}
            <button class="tomo-enroll" type="submit"
                    aria-label="{% trans "Add to my courses" %}" data-toggle="tooltip"
                    title="{% trans "Add to my courses" %}">
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star-o fa-lg"></i>
            </button>
          </form>
        </span>
        <h3>
          <a href="{% url 'course_detail' course.pk %}">{{ course.title }}</a>
        </h3>
        <p class="tomo-lecturer">
          {% for lecturer in course.teachers.all %}
          {{ lecturer.get_full_name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        <p class="tomo-institution">
          @{% templatetag openbrace %}{{ course.institution }}{% templatetag closebrace %}
        </p>
      </div>
      {% endfor %}
    </div>
      {% endfor %}
  </div>
</div>
{% endblock content %}
