{% extends 'base.html' %}  
{% load bootstrap3 %} 

{% block title %}Dobrodošli!{% endblock %}

{% block navigation %}
<!-- Override navigation defined in base.html -->
{% endblock %}

{% block content %}
      <div class="jumbotron">
	<h1>Pozdravljeni!</h1>
	<p>Tomo je vaš osebni učitelj programiranja. Učite se tako, da na svojem računalniku rešujete naloge, 
	   Tomo pa vas ves čas obvešča o poteku reševanja. 
	</p>
      </div> <!-- End jumbotron -->
    
    
    <!-- vnos uporabniškega imena in gesla -->
    <form role="form" action="{% url "django.contrib.auth.views.login" %}" method="post">
    	{% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
    	{% bootstrap_form form layout='inline' %}
    	{% buttons %}
	        <button type="submit" class="btn btn-default">
	            Prijavite se
	        </button>
	    {% endbuttons %}
      </form>
{% endblock %}
  