{% extends "inline/base.html" %}
{% load markup %}
{% load my_tags %}

{% block stats-class %}{% spaceless %}
    {% if request.user.is_authenticated %}
    {% with count=solved|get:problem.id %}
    {% if count == 100 %}success{% endif %}
    {% if count < 100 and count >= 50 %}warning{% endif %}
    {% if count < 50 %}error{% endif %}
    {% endwith %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block stats %}{% spaceless %}
    {% if request.user.is_authenticated %}
        {{ solved|get:problem.id|default_if_none:0 }}
        <small>%</small>
    {% else %}
        {% with count=parts_count|get:problem.id %}
        {{ count }}
        <small>
        {% if count == 0 %}
           podnalog
        {% endif %}
        {% if count == 1 %}
           podnaloga
        {% endif %}
        {% if count == 2 %}
           podnalogi
        {% endif %}
        {% if count == 3 or count == 4 %}
           podnaloge
        {% endif %}
        {% if count >= 5 %}
           podnalog
        {% endif %}
        </small>
        {% endwith %}{% endif %}
{% endspaceless %}{% endblock %}


{% block title %}
    <span id="problem-{{ problem.id }}">Naloga {{ forloop.counter }}{% if problem.title %} &mdash; {{ problem.title }}{% endif %}</span>
{% endblock %}

{% block actions %}
    {% if user.is_authenticated %}
        <a href="{% url download problem.id %}">Prenesi nalogo</a>
        {% if request.user.is_staff %}
        <a href="{% url edit problem.id %}">Uredi datoteko</a>
        <a href="{% url admin:problem_problem_change problem.id %}">Uredi nalogo</a>
        <a href="{% url admin:problem_problem_delete problem.id %}">Pobriši nalogo</a>
        {% endif %}
    {% else %}
      <div id="modal-from-dom-{{ problem.id }}" class="modal hide fade">
        <div class="modal-header">
          <a href="#" class="close">&times;</a>
          <h3>Za reševanje se najprej prijavite.</h3>
        </div>
        <div class="modal-body">
          <p>
            Če se ne morete prijaviti, lahko nalogo rešujete z začasno datoteko.
            V tem primeru se vaše rešitve <strong>ne bodo shranile na strežnik</strong>.
            Ko se boste lahko spet prijavili, boste nalogo morali ponovno prenesti ter vanje prepisati začasno rešitev.
          </p>
        </div>
        <div class="modal-footer">
          <a href="{% url download problem.id %}" class="btn secondary">Prenesite začasno datoteko</a>
        </div>
      </div>

      <a data-controls-modal="modal-from-dom-{{ problem.id }}" data-backdrop="true" data-keyboard="true" href="#">Prenesi nalogo</a>
    {% endif %}{% endblock %}

