{% load i18n %}
<div class="tomo-course-header">

  <span class="pull-left">
  {% if course.is_taught %}
    <button class="tomo-taught"
            aria-label="{% trans "Taught course" %}"
            data-toggle="tooltip"
            title="{% trans "Taught course" %}">
      <i class="fa fa-graduation-cap fa-lg"></i>
    </button>
  {% else %}
    <button class="tomo-taught">
    <i class="fa fa-star fa-lg"></i>
    </button>
  {% endif %}
  </span>

  <h2 class="section-heading">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <a href="{% url 'course_detail' course.pk %}">
      {{ course.title }}
    </a>
  </h2>
  
  {% if not course.is_taught %}
  {% if course.is_favourite %}
  <form action="{% url 'unenroll_from_course' course.pk %}"
        method="post" id='unenroll_from_course_form'>
    {% csrf_token %}
    <button class="btn btn-default btn-lg btn-for-modal tomo-red-button" typer="submit">
      {% trans "Leave" %}
    </button>
  </form>
  {% else %}
  <form action="{% url 'enroll_in_course' course.pk %}"
        method="post" id='enroll_in_course_form'>
    {% csrf_token %}
    <button class="btn btn-default btn-lg btn-for-modal tomo-green-button" typer="submit">
      {% trans "Enroll" %}
    </button>
  </form>
  {% endif %}
  {% endif %}
  
  <p>{% comment %} I'm sorry =( {% endcomment %}</p>

</div>

