{% load i18n %}
<div class="tomo-course-header">

  <span class="pull-left">
  {% if course.is_taught %}
    <button class="tomo-taught"
            aria-label="{% trans "Taught course" %}"
            data-toggle="tooltip"
            title="{% trans "Taught course" %}">
      <i class="fa fa-graduation-cap fa-lg"></i>
    </button>
  {% endif %}
  </span>

  <h2 class="section-heading">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <a href="{% url 'course_detail' course.pk %}">
      {{ course.title }}
    </a>
  </h2>

</div>

