{% load i18n %}
{% load static %}
<li class="list-group-item">
  {% if course.is_taught %}
  {% spaceless %}
  <div data-toggle="tooltip"
       title="{{ problem_set.valid }}% {% trans "valid" %} / {{ problem_set.invalid }}% {% trans "invalid" %} / {{ problem_set.empty }}% {% trans "empty" %} ">
  {% if problem_set.valid %}
  <hr class="indicator background5" width="{{ problem_set.valid }}%">
  {% endif %}
  {% if problem_set.invalid %}
  <hr class="indicator background3" width="{{ problem_set.invalid }}%">
  {% endif %}
  {% if problem_set.empty %}
  <hr class="indicator background1" width="{{ problem_set.empty }}%">
  {% endif %}
  </div>
  {% endspaceless %}
  {% else %}
  <hr class="indicator background{{problem_set.grade}}" width="{{ problem_set.percentage }}%">
  {% endif %}

  <div class="media">
    {% if show_teacher_forms %}
    <div class="media-right">

     <div class="btn-group btn-group-sm" role="group" aria-label="Toggle Visibility">
       <form action="{% url 'problem_set_toggle_visible' problem_set.course.pk problem_set.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-default btn-sm" type="submit" aria-label="Show/Hide"
        {% if problem_set.visible %}
                  {# Translators: Sklop je viden#}
                  title = "{% trans 'Problem set is visible' %}"
              {% else %}
                  {# Translators: Sklop je skrit#}
                  title = "{% trans 'Problem set is hidden' %}"
              {% endif %}
              >
             <i class="fa fa-eye{% if not problem_set.visible %}-slash{% endif %}"></i>
           </button>
       </form>
     </div>

                 <div class="btn-group btn-group-sm" role="group" aria-label="Toggle Solution Visibility">
                 <form action="{% url 'problem_set_toggle_solution_visibility' problem_set.course.pk problem_set.pk %}" method="post">
                    {% csrf_token %}
                        <button class="btn btn-default btn-sm" aria-label="Set Solution Visibility"
                            {% if problem_set.solution_visibility == problem_set.PROBLEM_HIDDEN %}
                                {# Translators: Besedila nalog so skrita #}
                                title = "{% trans 'Problem descriptions are hidden' %}"
                            {% elif problem_set.solution_visibility == problem_set.SOLUTION_HIDDEN %}
                                {# Translators: Uradne rešitve so skrite #}
                                title = "{% trans 'Official solutions are hidden' %}"   
                            {% elif problem_set.solution_visibility == problem_set.SOLUTION_VISIBLE_WHEN_SOLVED %}
                                {# Translators: Uradne rešitve so pogojno vidne #}
                                title = "{% trans 'Official solutions are visible when solved' %}"
                            {% elif problem_set.solution_visibility == problem_set.SOLUTION_VISIBLE %}
                                {# Translators: Uradne rešitve so vidne #}
                                title = "{% trans 'Official solutions are visible' %}"
                            {% endif %}>
                            {% if problem_set.solution_visibility == problem_set.PROBLEM_HIDDEN %}
                                <i class="fa fa-question-circle"></i>
                            {% elif problem_set.solution_visibility == problem_set.SOLUTION_HIDDEN %}
                                <i class="fa fa-ban"></i>
                            {% elif problem_set.solution_visibility == problem_set.SOLUTION_VISIBLE_WHEN_SOLVED %}
                                <i class="fa fa-times-circle-o"></i>
                            {% elif problem_set.solution_visibility == problem_set.SOLUTION_VISIBLE %}
                                <i class="fa fa-check-circle-o"></i>
                            {% endif %}
                        </button>
                       </form>
                 </div>

                                  <div class="btn-group btn-group-sm" role="group" aria-label="Update">
                    <button class="btn btn-default btn-for-modal" data-url="{% url 'problem_set_update' problem_set.course.pk problem_set.pk %}" aria-label="Update"
                        data-toggle="tooltip" title="{% trans 'Edit' %}" data-container:'body' data-viewport: '#viewport' id="viewport">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
                 </div>
                 <div class="btn-group btn-group-sm" role="group" aria-label="Delete">
                    <button class="btn btn-default btn-for-modal" data-url="{% url 'problem_set_delete' problem_set.course.pk problem_set.pk %}" aria-label="Delete"
                        data-toggle="tooltip" title="{% trans 'Delete' %}" data-container:'body'>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                 </div>

      <div class="btn-group" role="group" aria-label="{% trans 'Move' %}">
       <form action="{% url 'problem_set_move' problem_set.course.pk problem_set.pk %}" method="post">
        {% csrf_token %}
         <div class="btn-group" role="group" aria-label="Move">
          <button type="submit" class="btn btn-sm btn-default" aria-label="Move Up" name="move_up">
            <i class="fa fa-arrow-up"></i>
          </button>
          <button type="submit" class="btn btn-sm btn-default" aria-label="Move Down" name="move_down">
            <i class="fa fa-arrow-down"></i>
          </button>
         </div>
       </form>
      </div>

    </div>
    {% endif %}

    {% if course.is_taught %}
    <div class="media-left">
      <p class="success text-danger color{{ problem_set.grade }}">
        {{ problem_set.valid }}<small>%</small>
      </p>
    </div>
    {% else %}
    <div class="media-left">
      <p class="success text-danger color{{ problem_set.grade }}">
        {{ problem_set.percentage }}<small>%</small>
      </p>
    </div>
    {% endif %}

    <div class="media-body media-middle">
      <div class="row">
        <h4 class="media-heading">
          <a style="{% if not problem_set.visible %}color:#bbb{% endif %}"
             href="{% url 'problem_set_detail' problem_set.course.pk problem_set.pk %}">
             {{ problem_set.title }}
          </a>
        </h4>
      </div>
    </div>
  </div>
</li>
