{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Tomo – {{ course.title }}{% endblock %}

{% block navigation-left %} 
    <li class="active"><a href="{% url 'course_detail' course.pk %}">{{ course.title }} <span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block content %}
<div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{ course.title }}
            </h4>
        </div>
        
        {% if show_teacher_forms %}
        <div class="panel-body">
			<div class="btn-toolbar" role="toolbar" aria-label="Buttons">
			        <a class="btn btn-default" href="{% url 'problem_set_create' course.pk %}" role="button" aria-label="Create">
			            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			                 {# Translators: Button for creating new problem set. #}
							 {% trans "Add new problem set" %}
			        </a>
			</div>
		</div>
		{% endif %}
        
        <ul class="list-group">
          {% for problem_set in course.annotated_problem_sets %}
          	{% include 'courses/_problem_set.html' %}
          {% endfor %}
        </ul>
    </div>
		
{% endblock content %}

{% block extra_js %}
<!-- for Tree view and modals-->
<script src="{% static "js/bootstrap-treeview.js" %}"></script>
<script src="{% static "js/js_functions.js" %}"></script>
{% endblock %}
