{% load i18n %}
{% load bootstrap3 %}

{% if form.instance.pk %}
	<form action="{% url 'course_groups_update' form.instance.pk %}"  method="post" id='edit_course_group_form'>
{% else %}
	<form action="{% url 'course_groups_create' course_pk %}"  method="post" id='add_course_group_form'>
{% endif %}
	{% csrf_token %}
    	<input type="hidden" name="course" id="id_course" value="{{ form.instance.course.id }}" />
    	<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <h4 class="modal-title">
		    	{% if form.instance.pk %}
		  			{# Translators: Title of editing form for problems sets. #}
		    		{% trans "Edit course group" %} <em>{{ form.instance.title }}</em>
	  			{% else %}
	  				{# Translators: Title of 'add new problem set' form. #}
	    			{% trans "Add new course group" %}
	  			{% endif %}
		    </h4>
		</div>		
		<div class="modal-body">
			{% bootstrap_form form %}
		</div>
		<div class="modal-footer">
	    <button type="submit" class="btn btn-primary">
		{% if form.instance.pk %}
	    	{# Translators: edit problem form button. #}
	    	{% trans "Edit" %}
	    {% else %}
	    	{# Translators: add new problem form button. #}
	    	{% trans "Add" %}
		{% endif %}
	   	</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
	</div>
</form>
