{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block navigation-left %} 
  <a class="navbar-brand topnav" href="{% url 'course_detail' course.pk %}">{{ course.title }}</a>
  <a class="navbar-brand topnav" href="#">
    	{# Translators: Progress of students in a problem set - heading in navigation #}
    	{% trans "Skupine" %}
    	<span class="sr-only">
    		{# Translators: current page in navigation #}
    		{% trans "(current)" %}
   		</span>
  </a>
{% endblock %}


{% block content %}
<div class="content-section-a tomo-overview-student">
  <div class="container">
    <h2>{{ course.title }}</h2>
      {% for group, students in student_success.items %}
      <div class="row">
      <div class="col-md-4">
        <h3 id="{{ group.pk }}">{{ group.title }}</h3> 
        <div class="btn-group btn-group-sm" role="group" aria-label="Update">
                    <button class="btn btn-default btn-for-modal" data-url="{% url 'course_groups_update' group.pk %}" aria-label="Update"
                        data-toggle="tooltip" title="{% trans 'Edit' %}" data-container:'body' data-viewport: '#viewport' id="viewport">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Delete">
          <button class="btn btn-default btn-for-modal" data-url="{% url 'course_groups_confirm_delete' group.pk %}" aria-label="Delete"
            data-toggle="tooltip" title="{% trans 'Delete' %}" data-container:'body'>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div> <br> <br>
        <span style='font-weight:normal' >{{ group.description }}</span>
      </div>
      <div class="col-md-8">
        <table class="table table-condensed">
          <tbody>
            {% for student, problemsets in students.items %}
            <tr>
              <td>
                {% for problemset, success_rate in problemsets.items %}
                  <a href="{% url 'problem_set_progress' problemset.pk %}"
                    data-toggle="tooltip"
                    title="{{ problemset.title}} : {{ success_rate.valid }} {% trans "valid" %} / {{ success_rate.invalid }} {% trans "invalid" %} / {{ success_rate.empty }} {% trans "empty" %} ">
                    <span id="pieChart-{{ group.pk }}-{{ student.pk }}-{{ problemset.pk }}" class="chart"></span> {{ problemset.pk }} </a>
                {% endfor %}
              </td>
              <td width='60%'>
                  <a href="{% url 'course_progress' course.pk student.pk %}"> {{ student.get_full_name }} </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
      {% endfor %}
    {% if show_teacher_forms %}
          <hr>
          <button class="btn btn-default btn-lg btn-for-modal tomo-add-task" aria-label="Create" data-url="{% url 'course_groups_create'  course.pk %}">
            <i class="fa fa-download fa-plus"></i>
            {# Translators: Button for creating new problem. #}
            {% trans "Add new course group" %}
          </button>
    {% endif %}
  </div>
</div>

{% endblock content %} {# content #}

{% block extra_js %}
<!-- for Tree view and modals-->
<script src="{% static 'js/bootstrap-treeview.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/piechart.js' %}"></script>
<script>
$(function() {
  {% for group, students in student_success.items %}
  {% for student, problemsets in students.items %}
  {% for problemset, success_rate in problemset.items %}
  $("#pieChart-{{ group.pk }}-{{ student.pk }}-{{ problemset.pk }}").drawPieChart(
    [{value: {{ success_rate.valid }}, color: "#878F28"},
    {value: {{ success_rate.invalid }}, color: "#D7A02C"},
    {value: {{ success_rate.empty }}, color: "#A92D2D"},
    ]
  );
  {% endfor %}
  {% endfor %}
  {% endfor %}
});
</script>
{% endblock extra_js %}
