{% extends 'base.html' %}
{% load i18n %}

{% block title %}Tomo – {{ course.title }} – {{ observed_user.get_full_name }}{% endblock %}

 
{% block navigation-left %}
    <li><a href="{% url 'course_detail' course.pk %}">{{ course.title }}</a></li>
    <li><a href="">{{ observed_user.get_full_name }}</a></li>
    <li class="active"><a href="{% url 'course_progress' course.pk observed_user.pk %}">
    	{# Translators: Progress of a student in a course - heading in navigatio n#}
    	{% trans "progress" %}
    	<span class="sr-only">
    		{# Translators: current page in navigation #}
    		{% trans "(current)" %}
   		</span></a></li>
{% endblock %}


{% block content %}
  {% for problem_set, problem_set_attempts in course_attempts %}
  <h3>
    {{ problem_set.title }}
  </h3>

  <table class="table table-condensed">
    <tbody>
      {% for problem, problem_attempts in problem_set_attempts %}
      {% with progress_bar_width=problem.progress_bar_width %}
      <tr>
        <td>{{ problem.title }}</td><td width='75%'>
        <div class="progress">
          {% for attempt in problem_attempts %}
            <div style="width: {{ progress_bar_width }}; {% if not attempt %} background-color: #f5f5f5{% endif %}" class="progress-bar
              {% cycle '' 'progress-bar-striped' %}
              {% if attempt %}
                {% if attempt.valid %}
                  progress-bar-success
                {% else %}
                  progress-bar-danger
                {% endif %}
              {% else %}
              {% endif %}
            ">
            </div>
          {% endfor %}
        </div>
        </td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
{% endblock %} {# content #}
