{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block navigation-left %}
  <a class="navbar-brand topnav" href="{% url 'course_detail' course.pk %}">{{ course.title }}</a>
  <a class="navbar-brand topnav" href="#">
    	{# Translators: Progress of students in a problem set - heading in navigation #}
    	{% trans "Course groups" %}
    	<span class="sr-only">
    		{# Translators: current page in navigation #}
    		{% trans "(current)" %}
   		</span>
  </a>
{% endblock %}


{% block content %}
<div class="content-section-a tomo-overview-student">
  <div class="container">
    <h2>{{ course.title }}</h2>
      {% for group in course.groups.all %}
      <div class="row">
      <div class="col-md-4">
        <h3 id="{{ group.pk }}">{{ group.title }}</h3>
        <div class="btn-group btn-group-sm" role="group" aria-label="Update">
                    <button class="btn btn-default btn-for-modal" data-url="{% url 'course_groups_update' group.course.pk group.pk %}" aria-label="Update"
                        data-toggle="tooltip" title="{% trans 'Edit' %}" data-container:'body' data-viewport: '#viewport' id="viewport">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Delete">
          <button class="btn btn-default btn-for-modal" data-url="{% url 'course_groups_confirm_delete' group.course.pk group.pk %}" aria-label="Delete"
            data-toggle="tooltip" title="{% trans 'Delete' %}" data-container:'body'>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div> <br> <br>
        <span style='font-weight:normal' >{{ group.description }}</span>
      </div>
      <div class="col-md-8">
        <table class="table table-condensed">
          <tbody>
            {% for student in group.list_all_members %}
            <tr>
              <td>
              </td>
              <td width='60%'>
                  <a href="{% url 'course_progress' course.pk student.pk %}"> {{ student.get_full_name }} </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
      {% endfor %}
    {% if show_teacher_forms %}
          <hr>
          <button class="btn btn-default btn-lg btn-for-modal tomo-add-task" aria-label="Create" data-url="{% url 'course_groups_create'  course.pk %}">
            <i class="fa fa-download fa-plus"></i>
            {# Translators: Button for creating new problem. #}
            {% trans "Add new course group" %}
          </button>
    {% endif %}
  </div>
</div>

{% endblock content %} {# content #}
