{% extends 'base.html' %}
{% load i18n %}

{% block navigation-left %} 
  <a class="navbar-brand topnav" href="{% url 'course_detail' course.pk %}">{{ course.title }}</a>
  <a class="navbar-brand topnav" href="#">
    	{# Translators: Progress of students in a problem set - heading in navigation #}
    	{% trans "Skupine" %}
    	<span class="sr-only">
    		{# Translators: current page in navigation #}
    		{% trans "(current)" %}
   		</span>
  </a>
{% endblock %}


{% block content %}
<div class="content-section-a tomo-overview-student">
  <div class="container">
    <h2>{{ course.title }}</h2>
      {% for group in course.groups.all %}
      <div class="row">
      <div class="col-md-4">
        <a href="{% url 'course_groups_update' course.pk %}" > <h3 id="{{ group.pk }}">{{ group.title }}</a></h3> </a>
      </div>
      <div class="col-md-8">
        <table class="table table-condensed">
          <tbody>
            {% for student in group.list_all_members %}
            <tr>
              <td>
                {% comment %} <a href="{% url 'course_progress' problem.problem_set.course.pk observed_user.pk %}"
                   data-toggle="tooltip"
                   title="{{ observed_user.valid }} {% trans "valid" %} / {{ observed_user.invalid }} {% trans "invalid" %} / {{ observed_user.empty }} {% trans "empty" %} ">
                   {{ observed_user.get_full_name }}</a> {% endcomment %}
              </td>
              <td width='60%'>
                  <a href="{% url 'course_progress' course.pk student.pk %}"> {{ student.get_full_name }} </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
      {% endfor %}
    {% if show_teacher_forms %}
          <hr>
          <button class="btn btn-default btn-lg btn-for-modal tomo-add-task" aria-label="Create" data-url="{% url 'course_groups_create' course.id %}">
            <i class="fa fa-download fa-plus"></i>
            {# Translators: Button for creating new problem. #}
            {% trans "Add new course group" %}
          </button>
    {% endif %}
  </div>
</div>
{% endblock %} {# content #}
