{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Tomo – {{ course.title }}{% endblock %}

{% block navigation-left %}
<a class="navbar-brand topnav" href="{% url 'course_detail' course.pk %}">{{ course.title }}</a>
<span class="sr-only">
  {# Translators: current page in navigation #}
  {% trans "(current)" %}
</span>
{% endblock %}

{% block content %}
<div class="content-section-a tomo-top-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {% include 'courses/_course_header.html' %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <ul class="list-group tomo-courses">
          {% for problem_set in course.annotated_problem_sets %}
          {% include 'courses/_problem_set.html' %}
          {% endfor %}
        </ul>
        {% if show_teacher_forms %}
        <hr>
                    <button class="btn btn-default btn-lg btn-for-modal tomo-add-task" aria-label="Create" data-url="{% url 'problem_set_create' course.id %}">
                <i class="fa fa-download fa-plus"></i>
                     {# Translators: Button for creating new problem. #}
                     {% trans "Add new problem set" %}
            </button>
        {% endif %}
      </div>

      <div class="col-md-4 tomo-course-info">
        {% if show_teacher_forms %}
        <hr>
        <p class="tomo-institution">{{ course.institution }}</p>
        <div class="tomo-course-description">
          {{ course.description }}
        </div>
        <ul class="tomo-lecturers">
          {% for teacher in course.teachers.all %}
          <form action="{% url 'demote_to_student' course.pk  teacher.pk %}"  method="post" id='demote_to_student_form'>
            {% csrf_token %}
            <li>
              {{ teacher.get_full_name }}
              {% if teacher != user %}
              <span class="tomo-teacher-switch">
                {# Translators: Demote teacher to student - button #}
                <button type="submit" aria-label="Demote" data-toggle="tooltip"
                        title="{% trans 'Demote to student' %}">
                  <i class="fa fa-user"></i>
                </button>
            </span>
            {% endif %}
          </li>
          </form>
          {% endfor %}
        </ul>
        <hr>
        <ul class="tomo-students">
          {% for student in students %}
            <li>
              <a href="{% url 'course_progress' course.pk student.pk %}">{{ student.get_full_name }}</a>
              <span id="student{{student.pk}}" class="chart"></span>
              <span class="tomo-teacher-switch">
                <form action="{% url 'toggle_observed' course.pk  student.pk%}"  method="post" id='toggle_observed_form'>
                  {% csrf_token %}
                {# Translators: Stop observing the student #}
                <button type="submit" aria-label="Demote" data-toggle="tooltip"
                        title="{% trans 'Stop observing' %}">
                  <i class="fa fa-eye-slash"></i>
                </button>
                </form>
              </span>
              <span class="tomo-teacher-switch">
                <form action="{% url 'promote_to_teacher' course.pk  student.pk%}"  method="post" id='promote_to_teacher_form'>
                  {% csrf_token %}
                {# Translators: Demote teacher to student - button #}
                <button type="submit" aria-label="Demote" data-toggle="tooltip"
                        title="{% trans 'Promote to teacher' %}">
                  <i class="fa fa-graduation-cap"></i>
                </button>
                </form>
              </span>
            </li>
          {% endfor %}
        </ul>
        {% else %}
        <hr>
        {% for lecturer in course.teachers.all %}
        <p class="tomo-lecturer">{{ lecturer.get_full_name }}</p>
        {% endfor %}
        <p class="tomo-institution">{{ course.institution }}</p>
        <div class="tomo-course-description">
          {{ course.description }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<!-- for Tree view and modals-->
<script src="{% static "js/bootstrap-treeview.js" %}"></script>
{% if show_teacher_forms %}
    <script src="{% static 'js/piechart.js' %}"></script>
    <script>
      $(function() {
        {% for student in students %}
        $("#student{{student.pk}}").drawPieChart([
          { value : {{ student.empty }},  color: "#A92D2D" },
          { value:  {{ student.invalid }},   color: "#D7A02C" },
          { value : {{ student.valid }},   color: "#878F28" }
        ]);
        {% endfor %}
      });
    </script>
{% endif %}
{% endblock %}
