{% extends 'base.html' %}
{% load i18n %}

{% block navigation-left %} 
  <a class="navbar-brand topnav" href="{% url 'course_detail' problem_set.course.pk %}">{{ problem_set.course.title }}</a>
  <a class="navbar-brand topnav" href="{% url 'problem_set_detail' problem_set.pk %}">{{ problem_set.title }}</a>
  <a class="navbar-brand topnav" href="#">
    	{# Translators: Progress of students in a problem set - heading in navigation #}
    	{% trans "Progress" %}
    	<span class="sr-only">
    		{# Translators: current page in navigation #}
    		{% trans "(current)" %}
   		</span>
  </a>
{% endblock %}


{% block content %}
<div class="content-section-a tomo-overview-student">
  <div class="container">
    <h2>{{ problem_set.title }}</h2>
    <div class="row">
      {% for problem in problem_set.problems.all %}
      <div class="col-md-4">
        <h3 id="{{ problem.anchor }}"><a href="{{ problem.get_absolute_url }}">{{ problem.title }}</a></h3>
      </div>
      <div class="col-md-8">
        <table class="table table-condensed">
          <tbody>
            {% for observed_user, attempts in problem.attempts_by_user %}
            <tr>
              <td>
                <a href="{% url 'course_progress' problem.problem_set.course.pk observed_user.pk %}">{{ observed_user.get_full_name }}</a>
              </td>
              <td width='60%'>
                {% for attempt in attempts %}
                <a href="{% url 'problem_solution' problem.pk observed_user.pk %}">
                  {% if attempt.valid %}<i class="color5 fa fa-circle"></i>
                  {% elif attempt %}<i class="color3 fa fa-circle"></i>
                  {% else %}<i class="color1 fa fa-circle"></i>
                  {% endif %}
                </a>
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %} {# content #}
