{% extends 'base.html' %}
{% load i18n %}	              
{% load staticfiles %}

{% block title %}Tomo – {{ problem_set.title }}{% endblock %}

 
{% block navigation-left %} 
  <a class="navbar-brand topnav" href="{% url 'course_detail' problem_set.course.pk %}">{{ problem_set.course.title }}</a>
  <a class="navbar-brand topnav" href="{% url 'problem_set_detail' problem_set.pk %}">{{ problem_set.title }} <span class="sr-only">(current)</span></a>
{% endblock %}

{% block content %}
{# display of all problems in a problem set #}
<div class="content-section-a tomo-top-section">
  <div class="container">
    <div class="row">
      <div class="tomo-chapter-heading">
        {% if show_teacher_forms %}
        <div class="btn-group btn-group-sm pull-left" role="group" aria-label="{% trans 'Download' %}">
          <a type="button" class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {# Translators: Prenesi datoteke #}
            <i class="fa fa-download fa-2x"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'problem_set_attempts' problem_set.pk %}">
                {# Translators: Datoteke za reševanje #}
                {% trans "Files for solving" %}
            </a></li>
            <li><a href="{% url 'problem_set_edit' problem_set.pk %}">
                {# Translators: Datoteke za urejanje #}
                {% trans "Files for editing" %}
            </a></li>
          </ul>
        </div>
        {% else %}
        <div class="btn-group btn-group-sm pull-left" role="group" aria-label="{% trans 'Download' %}">
          {# Translators: Button for downloading all problem files within a problem set. #}
          <a class="btn btn-default" href="{% url 'problem_set_attempts' problem_set.pk %}" role="button" data-toggle="tooltip" title="{% trans "Download all problem files" %}"><i class="fa fa-download fa-2x"></i></a>
        </div>
        {% endif %}
        <h2 class="section-heading">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <span>{{ problem_set.title }}</span>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        {% if problem_set.description and problem_set.description.strip %}
          {{ problem_set.description|latex_markdown }}
          <hr>
        {% endif %}

        {% for problem in problem_set.problems.all %}
        <div id="{{ problem.anchor }}" class="panel panel-default">
          <div id="{{ problem.anchor }}" class="panel-heading">
            <div class="row">
              <div class="col-md-6">
                <h5>{{ problem.title }}</h5>
              </div>
              <div class="col-md-6">
                <span class="pull-right">
                  <div class="btn-toolbar tomo-task-heading" role="toolbar" aria-label="Buttons">
                    {% if show_teacher_forms %}

                    <div class="btn-group btn-group-sm" role="group" aria-label="Download">
                      <button type="button" class="btn btn-default dropdown-toggle download-btn" data-toggle="dropdown" aria-expanded="false">
                        {# Translators: Prenesi datoteko #}
                        <i class="fa fa-download fa-lg"></i>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'problem_attempt_file' problem.id %}">
                            {# Translators: Datoteka za reševanje #}
                            {% trans "File for solving" %}
                        </a></li>
                        <li><a href="{% url 'problem_edit_file' problem.id %}">
                            {# Translators: Datoteka za urejanje #}
                            {% trans "File for editing" %}
                        </a></li>
                      </ul>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="{% trans "Solutions" %}">
                      <a class="btn btn-default solutions-btn" href="{% url 'problem_solution' problem.id user.id %}" role="button" data-toggle="tooltip" title="{% trans "Solutions" %}"><i class="fa fa-lightbulb-o fa-lg"></i></a>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Edit">
                        <a class="btn btn-default edit-btn" href="{% url 'problem_move' problem.id -1 %}" role="button" aria-label="Move Up"
                            data-toggle="tooltip" title="{% trans 'Move up' %}" data-container:'body'>
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-default edit-btn" href="{% url 'problem_move' problem.id 1 %}" role="button" aria-label="Move Down"
                            data-toggle="tooltip" title="{% trans 'Move down' %}" data-container:'body'>
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-default btn-for-modal edit-btn" aria-label="Update" data-url="{% url 'problem_update' problem.id %}"
                            data-toggle="tooltip" title="{% trans 'Update' %}" data-container:'body'>
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-default btn-for-modal edit-btn" aria-label="Copy" data-url="{% url 'problem_copy' problem.id %}"
                            data-toggle="tooltip" title="{% trans 'Copy' %}" data-container:'body'>
                        <i class="fa fa-copy" aria-hidden="true"></i>                          
                        </a>
                        <a class="btn btn-default btn-for-modal edit-btn trash-btn" aria-label="Delete" data-url="{% url 'problem_delete' problem.id %}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>

                    {% else %}

                    <div class="btn-group btn-group-sm" role="group" aria-label="{% trans 'Download' %}">
                      {# Translators: Button for downloading a single problem file. #}
                      <a class="btn btn-default download-btn" href="{% url 'problem_attempt_file' problem.id %}" role="button" data-toggle="tooltip" title="
                      {% trans "Download this problem file" %}"><i class="fa fa-download fa-lg"></i></a>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="{% trans "Solutions" %}">
                      <a class="btn btn-default solutions-btn" href="{% url 'problem_solution' problem.id user.id %}" role="button" data-toggle="tooltip" title="{% trans "Solutions" %}"><i class="fa fa-lightbulb-o fa-lg"></i></a>
                    </div>

                    {% if user.is_teacher_anywhere %}
                    <div class="btn-group btn-group-sm" role="group" aria-label="Edit">
                        <a class="btn btn-default btn-for-modal edit-btn" aria-label="Copy" data-url="{% url 'problem_copy' problem.id %}"
                            data-toggle="tooltip" title="{% trans 'Copy' %}" data-container:'body'>
                        <i class="fa fa-copy" aria-hidden="true"></i>                          
                        </a>
                    </div>
                    {% endif %}

                    {% endif %}
                  </div>
                </span>
              </div>
            </div>
          </div>

          {% if problem.description and problem.description.strip %}
          <div class="panel-body">
            <p> 
              {{ problem.guarded_description|latex_markdown }}
            </p>
          </div>
          {% endif %}

          <ul class="list-group tomo-subtasks">
            {% for part in problem.parts.all %}
            <li class="list-group-item" id="{{ part.anchor }}">
              {# Translators: problem set detail #}
              <h5>{{ forloop.counter }}. {% trans "part" %}</h5>
              <p>{{ part.guarded_description|latex_markdown }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
        {% if show_teacher_forms %}
        <hr>
                    <button class="btn btn-default btn-lg btn-for-modal tomo-add-task" aria-label="Create" data-url="{% url 'problem_create' problem_set.id %}">
                <i class="fa fa-download fa-plus"></i>
                     {# Translators: Button for creating new problem. #}
                     {% trans "Add new problem" %}
            </button>
        {% endif %}

      </div>

      <div class="col-md-3" id="rightCol">
        <ul class="nav nav-stacked" id="sidebar">
          {% for problem in student_statistics %}
          <li>
            <a href="#{{ problem.anchor }}">
              {{ problem.title }}
            </a>
            <div class="subtasks">
              {% for part in problem.parts %}
              {% if show_teacher_forms %}
                <a href="{% url 'problem_set_progress' problem_set.pk %}#{{problem.anchor}}"
                   data-toggle="tooltip"
                   title="{{ part.valid }} {% trans "valid" %} / {{ part.invalid }} {% trans "invalid" %} / {{ part.empty }} {% trans "empty" %} ">
              {% else %}
                <a href="#{{part.anchor}}">
              {% endif %}
              <span id="pieChart-{{ problem.pk }}-{{ part.pk }}" class="chart"></span></a>
              {% endfor %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<!-- for Tree view and modals-->
<script src="{% static 'js/bootstrap-treeview.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/piechart.js' %}"></script>
<script>
$(function() {
  {% for problem in student_statistics %}
  {% for part in problem.parts %}
  {% if show_teacher_forms %}
  $("#pieChart-{{ problem.pk }}-{{ part.pk }}").drawPieChart([
    {value: {{ part.valid }}, color: "#878F28"},
    {value: {{ part.invalid }}, color: "#D7A02C"},
    {value: {{ part.empty }}, color: "#A92D2D"},
  ]);
  {% else %}
  $("#pieChart-{{ problem.pk }}-{{ part.pk }}").drawPieChart([
    {% if part.pk in valid_parts_ids %}
    {value: 1, color: "#878F28"},
    {% elif part.pk in invalid_parts_ids %}
    {value: 1, color: "#D7A02C"},
    {% else %}
    {value: 1, color: "#A92D2D"},
    {% endif %}
  ]);
  {% endif %}
  {% endfor %}
  {% endfor %}
});
</script>
{% endblock %}