{% extends 'base.html' %}
{% load i18n %}

{% block title %}
	{# Translators: Title of problem delete confirmation page. Brisanje sklopa#}
	{% trans "Delete problem set" %} {{ object.title }}
{% endblock %}

{% block content %}
	{# Translators: Text of problem set delete confirmation page. Ste prepričani, da želite pobrisati sklop#}
	<p>{% trans "Are you sure you want to delete problem set" %} <em>{{ object.title }}</em>?</p>
	
	<div class="row">
	  	<div class="col-md-1">
		  	<form action="" method="post">
		    	{% csrf_token %}
		    	<button type="submit" class="btn btn-primary btn-large">
		    		{% trans "Yes" %}
		    	</button>
		 	 </form>
	  	</div>
	  	<div class="col-md-1">
	  	  	<a class="btn btn-primary btn-large" href="{% url 'course_detail' object.course.pk %}" role="button">
			  	{% trans "No" %}
		  	</a>
	  	</div>
	  	<div class="col-md-10"></div>
	</div>

{% endblock %}