{% extends 'base.html' %}
{% load i18n %}

{% block navigation-left %} 
  <a class="navbar-brand topnav" href="{% url 'course_detail' problem.problem_set.course.pk %}">{{ problem.problem_set.course.title }}</a>
  <a class="navbar-brand topnav" href="{% url 'problem_set_detail' problem.problem_set.pk %}">{{ problem.problem_set.title }}</a>
  <a class="navbar-brand topnav" href="{{ problem.get_absolute_url }}">{{ problem.title }}</a>
  <a class="navbar-brand topnav" href="#">
    	{# Translators: Progress of students in a problem set - heading in navigation #}
    	{% trans "Progress" %}
    	<span class="sr-only">
    		{# Translators: current page in navigation #}
    		{% trans "(current)" %}
   		</span>
  </a>
{% endblock %}


{% block content %}
<div class="content-section-a tomo-top-section"><div class="container">
  <h3>
    <a href="{{ problem.get_absolute_url }}">{{ problem.title }}</a>
  </h3>

  <table class="table table-condensed">
    <tbody>
      {% for user, attempts in problem.attempts_by_user %}

      <tr>
        <td>
        	<a href="{% url 'course_progress' problem.problem_set.course.pk user.pk %}">{{ user.get_full_name }}</a>
       	</td><td width='75%'>
          {% for attempt in attempts %}
          {# FIX IT! IT SHOWS SOLUTION FROM USER THAT IS BROWSING THE PAGE. NEW SOLUTIONS VIEW NEEDED #}
            <a href="{% url 'problem_solution' problem.pk user.pk%}">
              {% if attempt.valid %}<i class="color5 fa fa-circle"></i>
              {% elif attempt %}<i class="color3 fa fa-circle"></i>
              {% else %}<i class="color1 fa fa-circle"></i>
              {% endif %}
            </a>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div></div>
{% endblock %} {# content #}
