{% extends 'base.html' %}
{% load i18n %}
{% block title %}Tomo – {{ problem_set.title }}{% endblock %}

 
{% block navigation-left %} 
    <li><a href="{% url 'course_detail' problem_set.course.pk %}">{{ problem_set.course.title }}</a></li>
    <li class="active"><a href="{% url 'problem_set_detail' problem_set.pk %}">{{ problem_set.title }} <span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block content %}
{# prikaz vseh nalog iz sklopa #}
<div class="panel-body">
<div class="btn-toolbar" role="toolbar" aria-label="Buttons">
    <div class="btn-group" role="group" aria-label="Download">
        <a class="btn btn-primary btn-large" href="{% url 'problem_set_attempts' problem_set.pk %}" role="button">
        	{# Translators: Button for downloading all problem files within a problem set. #}
            {% trans "Download all problem files" %}
        </a>
        {% if show_teacher_forms %}
        <a class="btn btn-default" href="{% url 'problem_create' problem_set.id %}" role="button" aria-label="Create">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 {# Translators: Button for creating new problem. #}
				 {% trans "Add new problem" %}
        </a>
        {% endif %}
    </div>
</div>
</div>
{% for problem in problem_set.problems.all %} 
	{% if problem.id in valid_problems_ids %}
		<div id="{{ problem.anchor }}" class="panel panel-success">
	{% elif problem.id in invalid_problems_ids %}
		<div id="{{ problem.anchor }}" class="panel panel-danger">
	{% elif problem.id in half_valid_problems_ids %}
		<div id="{{ problem.anchor }}" class="panel panel-warning">
	{% else %}
		<div id="{{ problem.anchor }}" class="panel panel-default">
	{% endif %}
		<div id="{{ problem.anchor }}" class="panel-heading">
			<div class="row">
			  <div class="col-md-6">
					<h4>
						{{ problem.title }}
					</h4>
			  </div>
			  <div class="col-md-6">
			  <span class="pull-right">
					<div class="btn-toolbar" role="toolbar" aria-label="Buttons">
	                    {% if show_teacher_forms %}
	                    <div class="btn-group" role="group" aria-label="Download">
	                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	                        Prenesi datoteko <span class="caret"></span>
	                      </button>
	                      <ul class="dropdown-menu" role="menu">
	                        <li><a href="{% url 'problem_attempt_file' problem.id %}">Datoteka za reševanje</a></li>
	                        <li><a href="{% url 'problem_edit_file' problem.id %}">Datoteka za urejanje</a></li>
	                      </ul>
	                    </div>
	                    {% else %}
						<div class="btn-group" role="group" aria-label="Download">
							<a class="btn btn-default" href="{% url 'problem_attempt_file' problem.id %}" role="button">
								{# Translators: Button for downloading a single problem file. #}
								{% trans "Download this problem file" %}
							</a>
						</div>
	                    {% endif %}
						
	                    {% if show_teacher_forms %}
	                    <div class="btn-group" role="group" aria-label="Move">
	                        <a class="btn btn-default" href="{% url 'problem_move' problem.id -1 %}" role="button" aria-label="Move Up">
	                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
	                        </a>
	                        <a class="btn btn-default" href="{% url 'problem_move' problem.id 1 %}" role="button" aria-label="Move Down">
	                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
	                        </a>
	                        <a class="btn btn-default" href="{% url 'problem_update' problem.id %}" role="button" aria-label="Update">
	                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
	                            {# Translators: Update problem text button. #}
								{% trans "Update" %}
	                        </a>
	                        </div>
	                        <div class="btn-group" role="group" aria-label="Solutions">
			    				<a class="btn btn-default" href="{% url 'problem_solution' problem.id %}" role="button">
			    				    {# Translators: Link to page with solutions. #}
									{% trans "Solutions" %}
			    				</a>
		                    </div>
	                    {% endif %}
  				  </div> 
  				  </span>    
  				</div>
			</div>
			
			
		</div>
  		{% if problem.description and problem.description.strip %}
		<div class="panel-body">
  	    	<p>	
  	       		{{ problem.description|latex_markdown }}
  	    	</p>
 		</div>
  	    {% endif %}
	  	<ul class="list-group">
			{% for part in problem.parts.all %}
	    	<li class="list-group-item">
	      		<p>
	      		    {# Translators: problem set detail #}
	      			{{ forloop.counter }}. {% trans "part" %}    				  
    				{% if part.id in valid_parts_ids %}
    				  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color: #468847"></span>
    				{% elif  part.id in invalid_parts_ids %}
    				  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color: #A31919"></span>
    				{% endif %}
	      		</p> 
	      		{{ part.description|latex_markdown }}
	    	</li>
			{% endfor %}
   	  	</ul>
   	 </div>
{% endfor %}
{% endblock %} {# content #}