{% extends "inline/base.html" %}
{% load my_tags %}

{% block stats %}
    {% with stat=solved|get:problem_set.id %}
    {% with percentage=stat.0 %}
    {% with num=stat.1 %}
        {% if percentage %}
            <div class="stats {% spaceless %}
                {% if count == 100 %}success{% endif %}
                {% if count < 100 and count >= 50 %}warning{% endif %}
                {% if count < 50 %}error{% endif %}
                {% endspaceless %}">
                <div class="stats-contents">
                    {{ num }}
                    <small>%</small>
                </div>
            </div>
        {% else %}
            <div class="stats">
                <div class="stats-contents">
                    {{ num }}
                    <small>
                        nalog{% koncnica num "a" "i" "e" "" %}
                    </small>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% endblock %}

{% block style %}{% if not problem_set.visible %}hidn{% endif %}{% endblock %}

{% block title %}
    <a href="{% url problem_set problem_set.id %}">
        {{ problem_set.title }}
    </a>
{% endblock %}

{% block actions %}
    {% include 'actions/problem_set.html' %}
{% endblock %}
