{% extends "inline/base.html" %}
{% load my_tags %}

{% block stats-class %}{% spaceless %}
    {% if request.user.is_authenticated %}
    {% with count=solved|get:problem.id %}
    {% if count == 100 %}success{% endif %}
    {% if count < 100 and count >= 50 %}warning{% endif %}
    {% if count < 50 %}error{% endif %}
    {% endwith %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block stats %}{% spaceless %}
    {% if request.user.is_authenticated %}
        {{ solved|get:problem.id|default_if_none:0 }}
        <small>%</small>
    {% else %}
        {% with count=parts_count|get:problem.id %}
        {{ count }}
        <small>
        {% if count == 0 %}
           podnalog
        {% endif %}
        {% if count == 1 %}
           podnaloga
        {% endif %}
        {% if count == 2 %}
           podnalogi
        {% endif %}
        {% if count == 3 or count == 4 %}
           podnaloge
        {% endif %}
        {% if count >= 5 %}
           podnalog
        {% endif %}
        </small>
        {% endwith %}{% endif %}
{% endspaceless %}{% endblock %}


{% block title %}
    <span id="problem-{{ problem.id }}">Naloga {{ forloop.counter }}{% if problem.title %} &mdash; {{ problem.title }}{% endif %}</span>
{% endblock %}

{% block actions %}
  {% include 'actions/problem.html' %}
{% endblock %}

