<!DOCTYPE html>
<html lang='si'>

<head>
    <meta charset='utf-8'>
    <title>{% block title %}Projekt Tomo{% endblock %}</title>
    <link rel='stylesheet' href='{{ MEDIA_URL }}style.css' type='text/css'>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/6.0/styles/default.min.css">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ]
        }
      });
    </script>
    <script type="text/javascript"
       src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script src="http://yandex.st/highlightjs/6.0/highlight.min.js"></script>
    <script>
    $(document).ready(function() {
        $('code').each(function(i, e) {hljs.highlightBlock(e, '    ')});
    });
    </script>
<script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
<div id='header'>
    <nav>
        <ol id='breadcrumbs'>{% block breadcrumbs %}
            <li><a href='{% url problem_list %}'>
                Začetna stran
            </a></li>
        {% endblock %}</ol>
        <ul id='account'>
        {% if user.is_authenticated %}
            <li>
                {{ user.get_full_name }}
                <a class='button' href='{% url logout %}?next={{ request.path }}'>Odjavite se</a>
            </li>
        {% else %}
            <li><a href='{% url login %}?next={{ request.path }}'>
                Prijavite se
            </a></li>
        {% endif %}
        </ul>
    </nav>
</div>
        
<div id='content'>
{% block content %}
<div id='description'>{% block description %}{% endblock %}</div>
<div id='action'>{% block action %}{% endblock %}</div>
{% endblock %}
</div>

<div id='footer'>
   &copy; 2011 Matija Pretnar
</div>
</body>

</html>
