<!DOCTYPE html>
<html lang="si">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Tomo{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="Matija Pretnar">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="/static/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.css">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/6.1/styles/default.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL}}tomo.css">

    <!-- Le javascript -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ]
        }
      });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="{{ STATIC_URL }}jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-twipsy.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-popover.js"></script>
    <script type='text/javascript'>
      $(document).ready(
        function() {
          $('pre code').each(
            function() {
              $(this).addClass('python');
            }
          );
        }
      );
    </script>
    <script>
      $(function () {
        $("a[rel=popover]")
          .popover({
            offset: 10,
            placement: 'below',
            html: true,
          })
          .click(function(e) {
            e.preventDefault()
          })
      })
    </script>
    <script type="text/javascript" src="http://yandex.st/highlightjs/6.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Le fav and touch icons -->
    <!-- <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{% url homepage %}">Tomo</a>
          <ul class="nav secondary-nav">
          {% if user.is_authenticated %}
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">{{ user.get_full_name }}</a>
              <ul class="dropdown-menu">
                <li><a href="{% url django.contrib.auth.views.logout %}">Odjavite se</a></li>
              </ul>
            </li>
          {% else %}
            <form method='post' action="{% url django.contrib.auth.views.login %}" class="pull-right">
              {% csrf_token %}
              <input class="input-small" id="id_username" name="username" type="text" placeholder="KovacM">
              <input class="input-small" id="id_password" name="password" type="password" placeholder="Triglav.1">
              <input type='hidden' name='next' value='{{ next|default:request.path }}' >
              <button class="btn" type="submit">Prijavite se</button>
            </form>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span14">
            <div class="page-header">
              {% if form.errors %}
              <div class="alert-message error fade in" data-alert="alert" >
                <p><strong>Napaka ob prijavi!</strong>
                Uporabite enako uporabniško ime in geslo kot ju na študentskih računalnikih, na primer <code>NovakJ</code> in <code>Triglav.1</code>.
              </div>
              {% endif %}

              <ul class="breadcrumb">
                {% block breadcrumbs %}{% endblock %}
              </ul>

              <h1>{% block heading %}{% endblock %}</h1>

              {% block header %}{% endblock %}
            </div>
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>

      <footer>
        <p>Tomo ponosno uporablja
          <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>,
          <a href="http://www.mathjax.org/">MathJax</a> in
          <a href="http://softwaremaniacs.org/soft/highlight/en/">highlight.js</a>
        <p>
        <p>&copy; Andrej Bauer, Matija Pretnar 2011</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
