{% extends 'base.html' %}
{% load markup %}
{% load my_tags %}

{% block title %}Projekt Tomo &mdash; {{ collection.name }}{% endblock %}

{% block breadcrumbs %}
<li><a href='{% url collection_list %}'>Začetna stran</a></li>
<li>&#187;<a href='{% url show_collection collection.id %}'>{{ collection.name }}</a></li>
{% endblock %}



{% block description %}
    <h1>
        {{ collection.name }}
    </h1>
    {{ collection.description|pymarkdown|safe }}
    {% for problem in collection.problems.all %}
        {% if request.user.is_staff %}
        (<a href='{% url edit_problem problem.id %}'>uredi</a>)
        {% endif %}
        <h2>Naloga {{ forloop.counter }}</h2>
        {{ problem.description|pymarkdown|safe }}
        {% for part in problem.parts.all.select_related %}
        <div class='part'>
        <h3>Naloga {{ forloop.parentloop.counter }}.{{ forloop.counter }}.</h3>
        {{ part.description|pymarkdown|safe }}
        {% if request.user.is_authenticated %}
            <div class='solution'>
            {% with solutions|get:part.id as solution %}
            {% if solution %}
                {% if 3 == 3 %}
                <h3>Naloga je pravilno rešena. Vaša rešitev:</h3>
                {% else %}
                <h3>Naloga ni pravilno rešena. Zadnji poskus:</h3>
                {% endif %}
                <pre><code>{{ solution }}</code></pre>
            {% else %}
            <h3>Naloge še niste reševali</h3>
            {% endif %}
            {% endwith %}
            </div>
        {% endif %}
        {% if collection.status == '40' %}
            <div class='solution'>
            <h3>Uradna rešitev:</h3>
            <pre><code>{{ part.solution }}</code></pre>
            </div>
        {% endif %}
        </div>
    {% endfor %}{% endfor %}</ol>
{% endblock %}

{% block action %}
    {% if user.is_authenticated %}
        <p class='instructions'>
            Shranite vzorčno datoteko ter vanjo začnite pisati svojo rešitev.
            Vsakič, ko datoteko uspešno naložite v konzolo,
            dobite obvestila o pravilno in napačno rešenih nalogah.
        </p>
        <div class='buttons'>
            <a class='button default' href='{% url download_collection collection.id %}'>
                Shranite vzorčno datoteko
            </a>
        </div>
    {% else %}
        <p class='instructions'>
            Če želite reševati naloge, se morate najprej prijaviti.
        </p>
        {% include 'login_form.html' %}
        <p class='instructions'>
            Če se ne morete prijaviti, lahko naloge rešujete kot anonimni
            uporabnik z <a href='{% url download_collection collection.id %}'>začasno datoteko</a>.
            V tem primeru se vaše rešitve ne shranijo na strežnik.
            Ko se enkrat lahko prijavite, morate vzorčno datoteko ponovno
            shraniti ter vanjo prepisati rešitve iz začasne datoteke.
        </p>
    {% endif %}
{% endblock %}
