{% extends 'base.html' %}
{% load markup %}


{% block breadcrumbs %}
  <li class="active">Začetna stran</li>
{% endblock %}

{% block heading %}
  Projekt Tomo
{% endblock %}

{% block header %}
{% filter markdown %}
  Projekt Tomo je stran, namenjena učenju programiranja.
  Datoteke z ustreznimi nalogami prenesete na svoj računalnik, na katerem jih tudi rešujete.
  Kadarkoli želite, lahko preverite pravilnost svojih rešitev, hkrati pa rešitve tudi shranite nazaj na Projekt Tomo.
{% endfilter %}

  {% if request.user.is_staff %}
  <a href="{% url admin:course_course_add %}"><button class="btn">Dodaj predmet</button></a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for course in courses.all %}
    <h2><a href='{% url course course.id %}'>{{ course.name }}</a></h2>

    {{ course.description|markdown }}


    {% for problem_set in course.recent %}
      {% if problem_set.visible or request.user.is_staff %}
        {% include 'inline/problem_set.html' %}
      {% endif %}
    {% endfor %}

    <h3><a href='{% url course course.id %}'>Vsi sklopi…</a></h3>

    {% if not forloop.last %}<hr />{% endif %}
  {% endfor %}
{% endblock %}
