{% extends 'base.html' %}
{% load markup %}
{% load my_tags %}

{% block title %}Projekt Tomo &mdash; {{ problem.name }}{% endblock %}

{% block breadcrumbs %}
<li><a href='{% url problem_list %}'>
    Začetna stran
</a></li>
<li>&#187;<a href='{% url show_problem problem.id %}'>
    {{ problem.name }}
</a></li>
{% endblock %}



{% block description %}
    <h1>
        {{ problem.name }}{{problem.status}}
        {% if request.user.is_staff %}
        (<a href='{% url edit_problem problem.id %}'>uredi</a>)
        {% endif %}
    </h1>
    {{ problem.description|pymarkdown|safe }}
    {% for part in problem.parts.all %}{% with solutions|get:part as solution %}
        <div class='part'>
        <h2>Naloga {{ forloop.counter }}</h2>
        {{ part.description|pymarkdown|safe }}
        {% if request.user.is_authenticated %}
            <div class='solution'>
            {% if solution.correct %}
            <h3>Vaša rešitev</h3>
            <pre><code>{{ solution.solution }}</code></pre>
            {% else %}
            <h3>Naloge še niste rešili</h3>
            {% endif %}
            </div>
        {% endif %}
        {% if problem.status == '30' or solution.correct %}
            <div class='solution'>
            <h3>Uradna rešitev</h3>
            <pre><code>{{ part.solution }}</code></pre>
            </div>
        {% endif %}
        </div>
    {% endwith %}{% endfor %}</ol>
{% endblock %}

{% block action %}
    {% if user.is_authenticated %}
        <p class='instructions'>
            Shranite vzorčno datoteko ter vanjo začnite pisati svojo rešitev.
            Vsakič, ko datoteko uspešno naložite v konzolo,
            dobite obvestila o pravilno in napačno rešenih nalogah.
        </p>
        <div class='buttons'>
            <a class='button default' href='{% url download_problem problem.id %}'>
                Shranite vzorčno datoteko
            </a>
        </div>
    {% else %}
        <p class='instructions'>
            Če želite reševati naloge, se morate najprej prijaviti.
        </p>
        {% include 'login_form.html' %}
        <p class='instructions'>
            Če se ne morete prijaviti, lahko naloge rešujete kot anonimni
            uporabnik z <a href='{% url download_anonymous_problem problem.id %}'>začasno datoteko</a>.
            V tem primeru se vaše rešitve ne shranijo na strežnik.
            Ko se enkrat lahko prijavite, morate vzorčno datoteko ponovno
            shraniti ter vanjo prepisati rešitve iz začasne datoteke.
        </p>
    {% endif %}
{% endblock %}
