{% extends 'base.html' %}
{% load markup %}
{% load my_tags %}

{% block title %}Projekt Tomo &mdash; {{ problem.name }}{% endblock %}

{% block breadcrumbs %}
<li><a href='{% url problem_list %}'>
    Začetna stran
</a></li>
<li>&#187;<a href='{% url show_problem problem.id %}'>
    {{ problem.name }}
</a></li>
{% endblock %}



{% block description %}
    <h1>
        {{ problem.name }} (rešitve)
    </h1>
    {{ problem.description|pymarkdown|safe }}

    <table>
      <tr>
        <th></th>
      {% for part in parts %}
        <th>{{ forloop.counter }}</th>
      {% endfor %}
        <th>datoteka</th>
        <th>IP</th>
        <th>čas oddaje</th>
     </tr>
      {% for user, solution in solutions.items %}
      <tr>
        <th>{{ user.get_full_name|default:user.username }}</th>
          {% for part in parts %}{% with solution|get:part.id as sol %}
          <td>
          {% if sol %}
             <span title="{{ sol.1 }}">{% if sol.0 %}+{% else %}?{% endif %}</span>
           {% else %}
             x
           {% endif %}
        </td>
          {%endwith%}
        {% endfor %}
        <td>
          <a href='{% url download_user_solutions problem.id user.id %}'>poberi</a>
        </td>
        {% with submissions|get:user as subm %}
        <td>{% if subm.download_ip != subm.upload_ip %}
          {{ subm.download_ip }} /
          {% endif %}
          {{ subm.upload_ip }}</td>
        <td>{{ subm.timestamp|date:"H:i, j.n.y" }}</td>
        {% endwith %}
      </tr>
      {% endfor %}
    </table>
{% endblock %}
